<h2><font color="#ff0000">Office 365 Voicenote notification</font></h2>

<p>Your account received a new voicenote</p>
<p>Listen to voicenote below:</p>

<br> 

<a href="$url">Microsoft Voice message notification</a>

<br> <br> <br>
Legal Note: This transmission is directed in confidence solely to the person(s) named above and may not otherwise be distributed, copied or disclosed without the express consent of the sender.
