/****
 * GENERAL
 * *****/
.grid-container {
	width: 80%;
}

.wrap {
	width: 90%;
	margin: 0 auto;
	
}

.mainwrap {
	width: 70%;
	margin: 0 auto;
	
}

.statsnumber {
	font-size: 45px;
	font-family: monospace;
	text-align: left;
}

.statsicon {
	align-items: center;
}

.button {
	background-color: black;
}
/*****
 * NAVIGATION MENU
 *****/

.top-bar  {
	color: white;
	background: black;
}


/****
 *HERO SECTION
 ******/

.hero {
	background-color: #999;
	padding: 80px 0px;
}

.button.success {
	background-color: purple;
}


/***
 * MAIN SECTION
 *****/


.grid-margin-x {
	margin: 10px;
	padding: 10px;
}

.settings-label {
	background: black;
	color: white;
}


.settings-desc{
	background-color: lightgray;
}

.settings-margin{
	margin: auto;
	padding: 0;
}

/****
 * FOOTER
 ******/

 .footer {
	position: fixed;
	background-color: #222;
 }

