#import iconsbase64
#import time
#import base64
<section class="main">
<div class="grid-container">
### Edit Formular
<br>
<h4>Edit Phishing template:  $template.template_name</h4>	
<div class="grid-y">
	
<form action="saveTemplateSettings" method="post" enctype="application/x-www-form-urlencoded">
<input type="hidden" name="template_id" value="$template.template_id">

	
	<div class="cell large-12 medium-12 small-12">
		<label>Name
          <input type="text" name="template_name" value="$template.template_name">
    </label>
	</div>
</div>

	<div class="grid-x grid-margin-x">
		
		<div class="cell large-4 medium-6 small-12">
			<label>Content-Type
			<select name="content_type">			
				<option value="text">text/txt</option>
				<option value="html">text/html</option>
			</select>
			</label>
		</div>
	
		<div class="cell large-4 medium-6 small-12">
			<label>URL Shortener
			<select name="shortener">
#set shorteners=[{"value": "noshortener","name":"No Shortener"},{"value": "goolnk","name":"GooLNK Shortener"},{"value": "tinyurl","name":"TinyURL Shortener"}]
#for shortener in $shorteners
#if $template.shorten_links == $shortener.value
					<option value="$shortener.value" selected >$shortener.name</option>
#else
					<option value="$shortener.value" >$shortener.name</option>
#end if
#end for
			</select>
			</label>
		</div>
		
		<div class="cell large-4 medium-12 small-12">
			<label>Email Service
			<select name="email_service">
#for service in $emailServices
#if $template.email_service == $service.item_id
			<option value="$service.item_id" selected >$service.service_name - $service.email_account </option>
#else
	<option value="$service.item_id">$service.service_name - $service.email_account </option>
#end if
#end for	
		</select>
		</label>
	</div>
</div>


<div class="grid-y">
#set subject = $base64.standard_b64decode($template.template_subject)	
	<div class="cell large-12 medium-12 small-12">
		<label>Subject
          <textarea name="template_subject" rows=4>$subject</textarea>
    </label>
	</div>
<h4>Valid tokens for template:  url, target_email, qrcode_image_url</h4>
#set body = $base64.standard_b64decode($template.template_body)	
	<div class="cell large-12 medium-12 small-12">
		<label>Template Body <a href="phishingpreview?templateid=$template.template_id" target="_blank"> (Preview)</a>
          <textarea name="template_body" rows=20>$body</textarea>
    </label>
	</div>

 <div class="cell large-12 medium-12 small-12">
		<input class="button" type='submit' value='Save Template Changes'>
	</div>
 </div
	  
</form>

### End of Edit formular

</div>
</section>
