#import iconsbase64
#import time
#import base64
<section class="main">
	

	
	
<div class="grid-container">

### Edit Formular
<br>

<div class="grid-y">
	
	<div class="cell large-12 medium-12 small-12">
	
	##- Upload file Formular

<form action="upload" method="post" enctype="multipart/form-data">
<input type="hidden" name="origin" value="phishing-targets">
<input type="hidden" name="targetlistid" value="$list.targetlist_id">


		<div class="cell large-6 medium-6 small-12">
			<label>Upload a .csv file:
			<label for="customer_file" class="button">Select</label>
<input type="file" name="customer_file" id="customer_file" class="show-for-sr">

<input class="button" type='submit' value='Upload'>
			</label>
		</div>
		</form>
</div>

	  

</div>





<h4>Edit Target List:  $list.targetlist_name </h4>


<div class="grid-y">
	
<form action="saveTargetSettings">
<input type="hidden" name="targetlist_id" value="$list.targetlist_id">

	
	<div class="cell large-12 medium-12 small-12">
		<label>Name
          <input type="text" name="targetlist_name" value="$list.targetlist_name">
    </label>
	</div>
</div>

	
		
		<div class="cell large-12 medium-12 small-12">
			<label>Add users from list in .csv
			<select name="csvfile">
#for csvfile in $csvfiles
		<option value="$csvfile['md5']"> $csvfile['filename']</option>
#end for
</select>
			</label>
		</div>
</div>



<div class="grid-y">
 <div class="cell large-12 medium-12 small-12">
		<input class="button" type='submit' value='Save Targets'>
	</div>
 </div
	  
</form>

### End of Edit formular

</div>
</section>
