#import iconsbase64
#import time
#import base64
#from glossary import os_images as os_images
<div class="grid-container">
#### CREATE PHISHING TEMPLATE BUTTON 	
	<div class="grid-x grid-margin-x">
  <div class="cell auto">
    <a href="addNewLandingPage" class="button">Create NEW LandingPage Template</a>
  </div>
	</div>
#### END OF CREATE PHISHING TEMPLATE BUTTON

#### Clone Website BUTTON
	<form action="fetchfile">
	<div class="grid-x grid-margin-x">
	<input type="hidden" name="origin" value="web-cloning">
	<input type="hidden" name="nextpage" value="landingpages">
		
	<div class="cell large-10 medium-12 small-12">
		<label>
          <input type="text" name="url" placeholder="http://">
    </label>
	</div>
	
	<div class="cell large-2 medium-12 small-12">
		<input class="button" type='submit' value='Clone Website'>
	</div>
	

	</div>
			</form>
#### END OF BUTTON

$widgetPhishingTemplates

</div>
