#import iconsbase64
#import time
#import base64
<section class="main">
	<div class="grid-container">
### Edit Formular
<br>
<h4>Edit Landing Page:  $template.landingpage_name</h4>	
<div class="grid-y">
	
<form action="saveLandingPageSettings"  method="post" enctype="application/x-www-form-urlencoded">
<input type="hidden" name="landingpage_id" value="$template.landingpage_id">
	<div class="cell large-12 medium-12 small-12">
		<label>Name
          <input type="text" name="landingpage_name" value="$template.landingpage_name">
    </label>
	</div>	
#if $template.original_url == "":
	
	<div class="cell large-12 medium-12 small-12">
		<label>Clone Website
          <input type="text" name="original_url" value="$template.original_url">
    </label>
	</div>
#else:
<h5>Cloned Website: $template.original_url</h5>
<input type="hidden" name="original_url" value="$template.original_url">
#end if	

 

#set body = $base64.standard_b64decode($template.template_body)	
	<div class="cell large-12 medium-12 small-12">
		<label>Template Body <a href="landingpage?lpid=$template.landingpage_id" target="_blank"> (Preview) </a>
							<a href="editor?itemid=$template.landingpage_id" target="_blank"> (Experimental Editor)</a>
          <textarea name="template_body" rows=20>$body</textarea>
		</label>
	</div>
	
	<div class="cell large-12 medium-12 small-12">
		<input class="button" type='submit' value='Save Template Changes'>
	</div>

### End of Edit formular
</form>	
</div>
</div>
</section>
