#import iconsbase64
#import time
#import base64

<section class="main">

<div class="grid-container">
  
	
##- Main page top.bar-like	
	
<div class="grid-x grid-margin-x ">
	
##- Create Campaign button 3 spaces
	
  <div class="cell large-3 medium-3 small-12">
    <a href="savePhishingCampaignSettings" class="button">Create NEW Phishing campaign</a>
  </div>

##- Load Select drop menu 6 spaces

<div class="cell large-6 medium-6 small-8">
<form action="setAsLastUsedCampaign" method="post" enctype="application/x-www-form-urlencoded">
<select name="newcampaign">

#for campaign in $allCampaigns
		#if $campaign.last_used == "yes"
			<option value="$campaign.campaign_id" selected> $campaign.campaign_name</option>
			#set last_campaign = $campaign
		#else
			<option value="$campaign.campaign_id"> $campaign.campaign_name</option>
		#end if
#end for

</select>
</div>

##- Load campaign button 3 spaces

<div class="cell large-3 medium-3 small-4">
<input class="button" type="submit" value="Load campaign">
</div>

</form>
</div>


  
##  Eo LOAD CAMPAIGN WIDGET  





<h4>Phishing Campaign:   $lastCampaign.campaign_name</h4>




##-- Statistics	& Stats Campaign Section
##<div class="grid-x grid-margin-x grid-padding-x">
##- Emails Sent
##	<div class="cell large-1 medium-3 small-6"><div class="statsicon" >$iconsbase64.emailsent</div></div>
##	<div class="cell large-2 medium-3 small-6"><div class="statsnumber" >40</div></div>
##- Emails Error
##	<div class="cell large-1 medium-3 small-6">$iconsbase64.emailerror</div>
##	<div class="cell large-2 medium-3 small-6"><div class="statsnumber">5</div></div>
##- Emails Opened
##	<div class="cell large-1 medium-3 small-6">$iconsbase64.emailread</div>
##	<div class="cell large-2 medium-3 small-6"><div class="statsnumber">5</div></div>
##- Credentials gathered
##	<div class="cell large-1 medium-3 small-6">$iconsbase64.usercredentials</div>
##	<div class="cell large-2 medium-3 small-6"><div class="statsnumber">5</div></div>
##</div>

##- End Of RUN Campaign Section
<hr>
##- Ru Campaign Section Button
<div class="grid-x grid-margin-x">  
	<div class="cell large-3 medium-12 small-12">
	<form action="runPhishingCampaign" method="post" enctype="application/x-www-form-urlencoded">
<input type="hidden" name="campaignid" value=$last_campaign.campaign_id>
<input class="button" type='submit' value='RUN Campaign' >
	</form>
  </div>
</div>
## - End of button


<div class="grid-x grid-margin-x">  
  <div class="cell medium-3 settings-label">Name</div>
  <div class="cell medium-7">$lastCampaign.campaign_name <a href="editCampaign?phishing_id=$last_campaign.campaign_id">$iconsbase64.edit_small</a>
																<a href="deleteCampaign?phishing_id=$last_campaign.campaign_id">$iconsbase64.delete_medium_icon</a></div>
  <div class="cell medium-3 settings-label">Description</div>
  <div class="cell medium-7">$lastCampaign.campaign_description</div>
  <div class="cell medium-3 settings-label">Creation date</div>
  <div class="cell medium-7">$lastCampaign.creation_date</div>
   <div class="cell medium-3 settings-label">Delay</div>
  <div class="cell medium-7">$lastCampaign.delay_between_emails seconds</div>
   <div class="cell medium-3 settings-label">Target Email list</div>
#try
#set $total_items = len($targetlist.targets)
  <div class="cell medium-7">$targetlist.targetlist_name ( $total_items items)</div>
#except
	<div class="cell medium-7">No list assigned</div>
#end try

 <div class="cell medium-3 settings-label">Running events</div>
  <div class="cell medium-7">

#for run in $runningEvents
<a href="phishing_logs?campaignid=$last_campaign.campaign_id&runid=$run.run_id">$run.start_time</a> <br>		
#end for
<a href="phishing_logs?campaignid=$last_campaign.campaign_id">Show finished runs</a>
	</div>

</div>


<hr>

<h4>Phishing Landing Pages templates</h4>


  
  
##- Phishing templates in this campaign #####
<div class="grid-x grid-margin-x">
	
<div class="cell large-8 medium-8 small-8 ">

## If campaing has a landing page dont add any one more

<form action="addCustomizedLandingPage" method="post" enctype="application/x-www-form-urlencoded">
<input type="hidden" name="campaign" value=$last_campaign.campaign_id>
	
<select name="template">
<option value="c5c128b1-3e38-43f4-9e88-ea2f421ebdf6">Custom Phishing URL</option>
#for landingpage in $allLandingPages
<option value="$landingpage.landingpage_id">$landingpage.landingpage_name</option>
#end for
</select>
</div>

<div class="cell large-4 medium-4 small-4 ">
<input class="button" type='submit' value='Add a LandigPage Template' >
</div>

</form>


$widgetCustomLandingPages

</div>




##- Eo Add Phishing  












<hr>

<h4>Email Phishing templates</h4>


  
  
##- Phishing templates in this campaign #####
<div class="grid-x grid-margin-x">
	
<div class="cell large-8 medium-8 small-8 ">

<form action="savePhishingTemplateSettings" method="post" enctype="application/x-www-form-urlencoded">
<input type="hidden" name="campaign_id" value=$last_campaign.campaign_id>
	
<select name="template_id">
#for phishing in $phishingTemplates
<option value="$phishing.template_id">$phishing.template_name</option>
#end for
</select>
</div>

<div class="cell large-4 medium-4 small-4 ">
<input class="button" type='submit' value='Add an Email Template' >
</div>

</form>

</div>



##- Eo Add Phishing  

$widgetPhishingTemplates

</div>

</section>