#import iconsbase64
#import time
#import base64

<section class="main">
<div class="grid-container">
##-Create New Email Service Button
	$emailservices
	<div class="grid-x grid-margin-x">
  <div class="cell auto">
    <a href="addEmailService" class="button">Create NEW Email Service</a>
  </div>
	</div>

##- EoF create new email service

##- Table
<table class="hover">
  <thead>
    <tr>
      <th class = "settings-label" width="200">Email Service</th>
      <th class = "settings-label" width="300">Account</th>
			<th class = "settings-label" width="150">Actions</th>
      
    </tr>
  </thead>
#for email in $emailservices
    <tr>
      <td>
				$email.service_name
			</td>
      
      <td>$email.email_account</td>
			<td><a href="editPhishingTemplate?templateid=template.template_id">$iconsbase64.edit_small</a>
						<a href="deleteTemplate?templateid=template.template_id">$iconsbase64.delete_medium_icon</a></td>
    </tr>
#end for   
  </tbody>
</table>


</div>
</section>
