#import iconsbase64
#import time
#import base64
#from glossary import os_images as os_images
<div class="grid-container">
#### CREATE PHISHING TEMPLATE BUTTON 	
	<div class="grid-x grid-margin-x">
  <div class="cell auto">
    <a href="savePhishingTemplateSettings" class="button">Create NEW Phishing Template</a>
  </div>
	</div>
#### END OF CREATE PHISHING TEMPLATE BUTTON

$widgetPhishingTemplates

</div>
