#import iconsbase64
#import time
#import base64
<section class="main">
<div class="grid-container">
### Edit Formular
<br>
<h4>Edit Phishing campaing:  $phishing.campaign_name</h4>	
<div class="grid-y">
	
<form action="savePhishingCampaignSettings">
<input type="hidden" name="campaignid" value="$phishing.campaign_id">
	
	<div class="cell large-12 medium-12 small-12">
		<label>Campaign Name
          <input type="text" name="campaign_name" value="$phishing.campaign_name">
    </label>
	</div>
	
	<div class="cell large-12 medium-12 small-12">
		<label>Description
          <textarea name="campaign_description" rows=3>$phishing.campaign_description</textarea>
    </label>
	</div>
</div>

<div class="grid-x grid-margin-x">
	<div class="cell large-6 medium-6 small-12">
		<label>Target Email List
		<select name="target_email_list">			
#for target in $targets
#set $total_items = len($target.targets)
#if $target.targetlist_id == $phishing.target_email_list
			<option value="$target.targetlist_id" selected>$target.targetlist_name ($total_items items)</option>
#else
		    <option value="$target.targetlist_id">$target.targetlist_name ($total_items items)</option>
#end if
#end for
    </select>
		</label>
	</div>

	<div class="cell large-6 medium-6 small-12">
		<label>Delay in seconds
		<input type="number" name="delay_between_emails" value="$phishing.delay_between_emails">
		</label>
	</div>
</div>
	
<div class="grid-y">
 <div class="cell large-12 medium-12 small-12">
		<input class="button" type='submit' value='Save Campaign Changes'>
	</div>	
</form>
</div>
### End of Edit formular

</div>
</section>
