#import iconsbase64
#import time
#import base64
<meta http-equiv="refresh" content="5"> 
<section class="main">
<div class="grid-container">

	<div class="grid-x grid-margin-x">


##- Table
<table class="hover">
  <thead >
    <tr>
      <th class = "settings-label" width="300">Timestamp</th>
      <th class = "settings-label" width="150">Message</th>
      
    </tr>
  </thead>
#for log in $run_logs

    <tr>
	  <td>$log.timestamp </td>
      <td>$log.message</td>	
    </tr>
#end for   
  </tbody>
</table>

</div>
</section>
