#import iconsbase64
#import time
#import base64

<section class="main">
<div class="grid-container">

	
	<div class="grid-x grid-margin-x">
  
##- Create a new target list	
	<div class="cell large-6 medium-6 small-12">
    <a href="addTargetList" class="button">Create NEW Target list</a>
  </div>
	

##- Table
<table class="hover">
  <thead >
    <tr>
      <th class = "settings-label" width="300">List Name</th>
      <th class = "settings-label" width="150">User's List</th>
			<th class = "settings-label" width="150">Actions</th>
      
    </tr>
  </thead>
#for list in $targets_list
### Don't show the target list by default, since ir should always be empty and
### not available for editing
#if $list.targetlist_id == "0dc119cd-c48f-48ae-a92e-18dd483c125f"
#pass
#else
    <tr>

				<td>
				$list.targetlist_name 
			</td>
     
			
#set $total_items = len($list.targets)
      <td><a href="viewtargets?targetlistid=$list.targetlist_id" target="_blank"" target="_blank">$total_items users</a></td>
			<td><a href="editTargetList?targetlistid=$list.targetlist_id">$iconsbase64.edit_small</a>
       								<a href="deleteTargetList?targetlistid=$list.targetlist_id">$iconsbase64.delete_medium_icon</a></td>
    </tr>
#end if
#end for   
  </tbody>
</table>

</div>
</section>
