#import iconsbase64
#import time
#import base64



##- Table
<table class="hover">
  <thead >
    <tr>
      <th class = "settings-label" width="300">Name</th>
      <th class = "settings-label" width="300">Email</th>
			<th class = "settings-label" width="100">Mobile</th>
    </tr>
  </thead>
#for user in $targets['targets']
    <tr>
      <td>
				$user.name 
			</td>
      
      <td>$user.email</td>
			<td>+1-555-555</td>
    </tr>
#end for   
  </tbody>
</table>
