#import iconsbase64
#import time
#import base64



##- Table
<table class="hover">
  <thead >
    <tr>
      <th class = "settings-label" width="300">Name</th>
      <th class = "settings-label" width="150">Preview</th>
			<th class = "settings-label" width="150">Actions</th>
      
    </tr>
  </thead>
#for template in $templates_list
    <tr>
      <td>
				$template.template_name 
			</td>
      
      <td><a href="phishingpreview?templateid=$template.template_id" target="_blank"" target="_blank">Preview</a></td>
			<td><a href="editPhishingTemplate?templateid=$template.template_id">$iconsbase64.edit_small</a>
						<a href="deleteTemplate?templateid=$template.template_id">$iconsbase64.delete_medium_icon</a></td>
    </tr>
#end for   
  </tbody>
</table>
