#import iconsbase64
#import time
#from glossary import os_images as os_images

<h2>PooMA Environments</h2>


 <form action="sendEmail" method="post" enctype="application/x-www-form-urlencoded">
          <input type="hidden" name="sampleid" value=attachment.md5>
          <input type="hidden" name="message" value='A New Email for you barbie-princess'>


<table border="0" style="width:100%" id="RepoMaliciousTable"><div>

      <tr><td id="RepoMaliciousTitle"><div>Environment Name:</div></td><td><input type='text' maxlength=100 name='efrom' value='pooma@fusiondementes.net'></td></tr>
      
<tr><td id="RepoMaliciousTitle"><div>Template:</div></td><td id="RepoMaliciousText">
            <div>
                  <form action="troubleshoot" method="post" enctype="application/x-www-form-urlencoded">
			<select name="cmd">
##for $cli in $tecli
  <option value="cli['cmd']">WorkStation: Windows 7 Office 2010</option>
  <option value="cli['cmd']">WorkStation: Windows 10 Office 2013 No AntiVirus</option>
  <option value="cli['cmd']">WorkStation: Windows 10 Office 2013 SandBlast Agent</option>
  <option value="cli['cmd']">WorkStation: Windows 10 Office 2013 Zone Alarm</option>
  <option value="cli['cmd']">WorkStation: Windows XP Office 2010</option>
  <option value="cli['cmd']">WorkStation: Linux Tails</option>
  <option value="cli['cmd']">Cooko: Windows 7 Office 2010</option>


##end for
            </select>
                
                
            </div>
      </td></tr>
<tr><td id="RepoMaliciousTitle"><div>Timelife:</div></td><td><input type='text' maxlength=3100 name='subject'></td></tr>
      
 <tr>
    <td id="RepoMaliciousTitle"><div>Attachment:</div></td> <td>xxxx</td>
   
 </tr>

      
      
</table>
<p>
<input type='submit' value='Launch Environment' >
</p>

 </form>










