#import iconsbase64
#import time
#import datetime
#from glossary import os_images as os_images

##from glossary import CLOUD_FEEDS as cloudFeeds

<h2>PhishTank</h2>

<h4>PhishTank API Settings <a href="editFeed?feed=Phishtank"></a>$iconsbase64.edit_small</a></h4>


<table border="0" style="width:100%" id="RepoMaliciousTable"><div>
	

      <tr><td id="RepoMaliciousTitle"><div>Service URL</div></td> <td>http://checkurl.phishtank.com/checkurl/</td></tr>
      <tr><td id="RepoMaliciousTitle"><div>Status</div></td> <td><a href="xxx">Enabled</a></td></tr>

</table>



<h2>Check Point SandBlast 0-day Prevention</h2>

<h4>SandBlast Global Settings <a href="editFeed?feed=SandBlast">$iconsbase64.edit_small</a></h4>
<table border="0" style="width:100%" id="RepoMaliciousTable"><div>


#if $globalSettings == None

<tr><td id="RepoMaliciousTitle"><div>Status</div></td> <td>No configuration</td></tr>
#else
      <tr><td id="RepoMaliciousTitle"><div>Primary</div></td> <td>$globalSettings['service_primary']</td></tr>
      <tr><td id="RepoMaliciousTitle"><div>BackUp</div></td> <td>$globalSettings['service_backup']</td></tr>

#if $globalSettings['enabled'] == True:
#set status = 'Enabled'
#else
#set status = 'Disabled'
#end if
						<tr><td id="RepoMaliciousTitle"><div>Status</div></td> <td>$status</td></tr>
#end if
</table>

<h4>SandBlast Public Cloud <a href="editFeed?feed=PublicCloud">$iconsbase64.edit_small</a></h4>




<table border="0" style="width:100%" id="RepoMaliciousTable"><div>
	

      <tr><td id="RepoMaliciousTitle"><div>Service URL</div></td> <td>https://te.checkpoint.com/tecloud/api/v1/file/</td></tr>
      <tr><td id="RepoMaliciousTitle"><div>Status</div></td> <td><a href="showQuota">Show quota</a></td></tr>

</table>




<h4>SandBlast Private Cloud <a href="editFeed?feed=PrivateCloud">$iconsbase64.edit_small</a></h4>
<table border="0" style="width:100%" id="RepoMaliciousTable"><div>

      <tr><td id="RepoMaliciousTitle"><div>Service URL</div></td> <td>http://pooma-balancer/tecloud/api/v1/file/</td></tr>
      <tr><td id="RepoMaliciousTitle"><div>Status</div></td> <td>DISABLED / UP / DOWN</td></tr>

</table>
<p></p>


<div id="LastEvents">
<table border="0" style="width:100%">
 <tr>
    <th>Node Name</th>
    <th>Status</th>
    <th>Last Check</th>
    <th>Downtime</th>
  </tr>


##if $haproxy_csvfile[$proxy_key]['backends'] == []

##else


#for x in $haproxy_csvfile[$proxy_key]['backends']

#for listener in $x['listeners']

#if $listener['name'] == 'pooma'

#else
	<tr>
      <td>$listener['name']</td>
      <td>$listener['status']</td>
      <td>$listener['check_status']</td>
      <td>$listener['downtime']</td>
     </tr>
#end if

#end for

#end for


##end if
</table>
</div>



