#import iconsbase64
#import time
#import datetime


<h2>One-Time Cawlers</h2>

<div id="LastEvents">
<table border="0" style="width:100%">
 <tr>
    <th>Crawl a URL list</th>
    <th>Crawl a Hash list</th>
  </tr>
 
<tr>
      <td>$widget_urllist</td>
      <td>$widget_hashlist</td>      
     </tr>



</table>
</div>
<br>

##<h2>YouTube Cawlers</h2>

##<div id="LastEvents">
##<table border="0" style="width:100%">
## <tr>
##    <th>YouTube Audio/Video Download</th>
##  </tr>
## 
##<tr>
##      <td>$widgetYTD</td>
##     </tr>
##</table>
##</div>
##<br>


##<h2>Pastebin Crawlers</h2>
##<h4><a href="editFeed?feed=SandBlast">Add a Pastebin Crawler</a></h3>
##<table border="0" style="width:100%" id="RepoMaliciousTable"><div>
##      <tr><td id="RepoMaliciousTitle"><div>Primary</div></td> <td>xxxx</td></tr>
##      <tr><td id="RepoMaliciousTitle"><div>BackUp</div></td> <td>xxx</td></tr>
##						<tr><td id="RepoMaliciousTitle"><div>Status</div></td> <td>xxx</td></tr>
##</table>


##<h2>IMAP/S Crawlers</h2>
##<h4><a href="editIMAPCrawler">Add an IMAP Crawler</a></h3>

##<h2>SFTP Crawlers</h2>
##<h4><a href="editIMAPCrawler">Add an SFTP Crawler</a></h3>

<h2>FTP/S Crawlers <a href="editFTPCrawler">$iconsbase64.add_icon</a></h2>



##<h2>HTTP/S Crawlers</h2>

##<h4><a href="editIMAPCrawler">Add an HTTP/S Crawler</a></h3>

#for ftp in $settings

<h4>$ftp.servicename <a href="editFTPCrawler?crawler=$ftp.crawlerid">$iconsbase64.edit_small</a></h4>
<table border="0" style="width:100%" id="RepoMaliciousTable"><div>

      <tr><td id="RepoMaliciousTitle"><div>Hostname</div></td> <td> $ftp.hostname </td></tr>
      
						<tr><td id="RepoMaliciousTitle"><div>Status</div></td> <td>$ftp.status</td></tr>
      
      <tr><td id="RepoMaliciousTitle"><div>Stats</div></td> <td>XX Total Files | XX benign XX malicious, XX error | XX Scrubbed files </td></tr>
</table>
#end for




