#import iconsbase64
#import time
#import datetime
##from glossary import os_images as os_images

##from glossary import CLOUD_FEEDS as cloudFeeds



<h3>SandBlast Private Cloud properties</h3>
<table border="0" style="width:100%" id="RepoMaliciousTable"><div>

      <tr><td id="RepoMaliciousTitle"><div>Service URL</div></td> <td>http://pooma-balancer/tecloud/api/v1/file/</td></tr>
      <tr><td id="RepoMaliciousTitle"><div>Status</div></td> <td>DISABLED / UP / DOWN</td></tr>

</table>
<p></p>
#for node in $nodes

<table border="0" style="width:100%" id="RepoMaliciousTable"><div>

      <tr><td id="RepoMaliciousTitle"><div>Hostname</div></td> <td>$node['hostname']</td>
	      <td id="RepoMaliciousTitle"><div>Actions:</div></td>
						<td><a href="deleteNode?node=$node['hostname']">$iconsbase64.delete_icon</a>
							<a href="editNode?node=$node['hostname'] ">$iconsbase64.edit_big</a>
							$iconsbase64.xbot_debug_on_icon</td></tr>
	  
	  <tr><td id="RepoMaliciousTitle"><div>Version:</div></td> <td>$node['system']</td></tr>
      <tr><td id="RepoMaliciousTitle"><div>Node IPv4</div></td> <td>$node['ipv4_addr']</td></tr>
	  
	  <tr><td id="RepoMaliciousTitle"><div>Admin User</div></td><td id="RepoMaliciousText"><div>$node['user']</div></td></tr>
	
      <tr><td id="RepoMaliciousTitle"><div>Cookie</div></td> <td>$node['cookie']</td></tr>
      <tr><td id="RepoMaliciousTitle"><div>Status</div></td> <td>$node['enabled']</td></tr>

</table><br>



#end for



<form action="editNode" method="post" enctype="application/x-www-form-urlencoded">
          <input type="hidden" name="node" value=xxx>
		  <input type='submit' value='Add a Node'></form>

<form action="setLBConf" method="post" enctype="application/x-www-form-urlencoded">
		  <input type='submit' value='Apply & Reload'></form>

