#import iconsbase64
#import time
#import datetime
##from glossary import os_images as os_images


<h3>File Analysis Policy <a href="editPolicy?policyID=xxxx">$iconsbase64.edit_small</a></h3>


<table border="0" style="width:100%" id="RepoMaliciousTable"><div>
	  
	  <tr>
			<td id="RepoMaliciousTitle"><div>Policy</div></td>
			<td>$policy["policy_name"]</td>
			</tr>
	 </div>
</table>
<br>


#try
#set sandblas_policy = $policy["sandblast_policy"]
#set status = "Active"
#except KeyError
#set status = "Not Enabled"
#end try

<table border="0" style="width:100%" id="RepoMaliciousTable"><div>

	  <tr>
			<td id="RepoMaliciousTitle"><div>Check Point SandBlast</div></td>
			<td>$status</td></td>
			</tr>
</div>
</table>
<br>


#try
#set sandblas_policy = $policy["metadefender_policy"]
#set status = "Active"
#except KeyError
#set status = "Not Enabled"
#end try


<table border="0" style="width:100%" id="RepoMaliciousTable"><div>

	  <tr>
			<td id="RepoMaliciousTitle"><div>Metadefender</div></td>
			<td>$status</td></td>
			</tr>
	  </div>
</table>
 <br>

#try
#set sandblas_policy = $policy["binaryalert_policy"]
#set status = "Active"
#except KeyError
#set status = "Not Enabled"
#end try



<table border="0" style="width:100%" id="RepoMaliciousTable"><div>

	  <tr>
			<td id="RepoMaliciousTitle"><div>Binary Alert Yara rules</div></td>
			<td>$status</td></td>
			</tr>
	  

</table>
