##<pre>
<div id="LastEvents">
<table border="0" style="width:100%">
 <tr>
    <th>Date</th>
    <th>Level</th> 
    <th>Feature</th>
    <th>Message</th>
  </tr>

#for log in $logs
#set date=$log['timestamp'].strftime("%d/%b/%y %X")
#try
#set feature=$log['feature']
#except
#set feature = 'XXX'
#end try
##$date|$log['level']|$feature| $log['message']
	

<tr>
<td>$date</td>
<td>$log['level']</td>
<td>$feature</td>
<td>$log['message']</td>
</tr>
#end for	
</table>
</div>


##</pre>