#import iconsbase64
#import time
#import base64
#from glossary import os_images as os_images


<h2>Select Phishing Campaign.</h2>

<table>
	
#### CREATE CAMPAIGN WIDGET	
	<tr>
	
<form action="savePhishingCampaignSettings" method="post" enctype="application/x-www-form-urlencoded">
<input type='submit' value='Create NEW Phishing campaign' >

</form>
</tr>
	
#### END OF CREATE CAMPAIG WIDGET


####    LOAD PREVIOUS WIDGET	
	
	<tr> | Load previous campaigns: </tr>
	<tr><form action="setAsLastUsedCampaign" method="post" enctype="application/x-www-form-urlencoded">

<select name="newcampaign">
	
#for campaign in $allCampaigns
		#if $campaign.last_used == "yes"
			<option value="$campaign.campaign_id" selected> $campaign.campaign_name</option>
			#set last_campaign = $campaign
		#else
			<option value="$campaign.campaign_id"> $campaign.campaign_name</option>
		#end if
#end for
</select>

<input type='submit' value='Load' >

</form></tr>

### END OF LOAD PREVIOUS WIDGET

	


</table>





		
<h2>Phishing campaing:  $last_campaign.campaign_name</h2>
##<p>xxxxxxx</p>
##$LastCampaign

##<p>xxxxxxx</p>
##$last_campaign

<h3>Campaign settings</h3>

#### RUN CAMPAIGN WIDGET	
	<tr>
	
<form action="runPhishingCampaign" method="post" enctype="application/x-www-form-urlencoded">
<input type="hidden" name="campaignid" value=$last_campaign.campaign_id>
<input type='submit' value='RUN Campaign' >

</form>
</tr>
	
#### END OF RUN CAMPAIG WIDGET

<br>

<table border="0" style="width:100%" id="RepoMaliciousTable"><div>

      <tr><td id="RepoMaliciousTitle"><div>Description</div></td><td>$LastCampaign.campaign_description <a href="editCampaign?phishing_id=$last_campaign.campaign_id">$iconsbase64.edit_small</a>
																	<a href="deleteCampaign?phishing_id=$last_campaign.campaign_id">$iconsbase64.delete_medium_icon</a></td></tr>
      
      
      <tr><td id="RepoMaliciousTitle"><div>Creation Date</div></td><td id="RepoMaliciousText">
            <div>
                $LastCampaign.creation_date
            </div>
      </td></tr>

	


     ## <tr><td id="RepoMaliciousTitle"><div>Expiration Date</div></td><td>$LastCampaign.expiration_date</td></tr>
      
      	 <tr><td id="RepoMaliciousTitle"><div>Status</div></td><td>$LastCampaign.status</td></tr>

		
		
	 <tr><td id="RepoMaliciousTitle"><div>Delay</div></td><td>$LastCampaign.delay_between_emails seconds</td></tr>
      
      
#set $total_items = len($targetlist.targets)		
	<tr><td id="RepoMaliciousTitle"><div>Target Email List</div></td><td>$targetlist.targetlist_name ( $total_items items)</td> 
			
			
			
			
			
			
			
      </td></tr>
         
        
</table>


<h2>Phishing templates in this campaign</h2>

<h3>Add a template to this campaign:</h3>



#### Phishing templates in this campaign #####

<form action="savePhishingTemplateSettings" method="post" enctype="application/x-www-form-urlencoded">

<input type="hidden" name="campaign_id" value=$last_campaign.campaign_id>

<select name="template_id">
#for phishing in $phishingTemplates
<option value="$phishing.template_id">$phishing.template_name</option>
#end for
</select>
<input type='submit' value='Add Template' >
</form>

###  Eo Add Phishing

<br>


$widgetPhishingTemplates





