#import iconsbase64

$widgetFilter


<div id="LastEvents">
<table border="0" style="width:100%">
 <tr>
    <th>Filename</th>
    <th>MD5</th> 
    <th>Date</th>
  </tr>
 
 
 
#for $sample in $samples
     <tr>
      
<td>
 
#if $sample['verdict'] in ["malicious","matched"]
#set fileicon = $iconsbase64.filevirus_icon 
<a href="file?sampleid=$sample['md5']">$fileicon</a>  
#try
[ - $sample['sandblast_reputation']['av']['malware_info']['signature_name'] - ]
#except KeyError
 Unknown - ]
#end try
#elif $sample['status'] in ["new","emulating"]
#set fileicon = $iconsbase64.filelock_icon
<a href="file?sampleid=$sample['md5']">$fileicon</a> 




#elif $sample['content-type-mime'] in $iconsbase64.appicon
#set fileicon = $iconsbase64.appicon[$sample['content-type-mime']]
<a href="file?sampleid=$sample['md5']">$fileicon</a> 

#else
#set fileicon = $iconsbase64.file_icon
<a href="file?sampleid=$sample['md5']">$fileicon</a> 

#end if
       $sample['filename'] </td>  

      <td>$sample['md5']</td>
#set date=$sample['uploadDate'].strftime("%d/%b/%y %X")
      <td>$date</td>
     </tr>
#end for

</table>
</div>
