
<h2>URL Reputation for $analysis['phishtank']['results']['url']</h2>


<table border="0" style="width:100%" id="RepoMaliciousTable"><div>
	
<tr><td id="RepoMaliciousTitle"><div>PhishTank</div></td> <td>$analysis['phishtank']['results']['in_database']</td>

#try
<td>$analysis['phishtank']['results']['phish_detail_page']</td>
#except
<td></td>
#end try
</tr>
 

</table>

##$analysis