#import iconsbase64
#import time
#import datetime

<h2>Metadefender Malware Analysis</h2>

<h3>Antivirus engines</h3>

#if $metadefenderMetadata is None
<p>No information has been found</p>
#else
#set avs = $metadefenderMetadata['metadefender']['scan_results']['scan_details']
<table border="0" style="width:100%" id="RepoMaliciousTable"><div>
	
#for av in $avs
      <tr><td id="RepoMaliciousTitle"><div>$av</div></td> <td>$avs[$av]['threat_found']</td> <td>$avs[$av]['scan_result_i']</td></tr>
#end for      

</table>

#end if

#try
$metadefenderMetadata['metadefender']['pe_info']
#except KeyError

#end try


