#import iconsbase64
#import time
#import base64
#from datetime import datetime
##from glossary import os_images as os_images

<h3>Last Hearbeat from Agent</h3>


#try
#set last_heartbeat=datetime.utcfromtimestamp(int($agent['last_heartbeat']['timestamp'])).strftime('%d-%m-%Y - %H:%M:%S')
#set myip = $agent['last_heartbeat']['myip']['ip']
#set mycountry = $agent['last_heartbeat']['myip']['country']
#set mycountrycode = $agent['last_heartbeat']['myip']['cc']
##set mypolicy = -Policy - V.$agent['policy']['version']
#set uptime=base64.b64decode($agent['last_heartbeat']['uptime'])

#except
#set last_heartbeat='Offline'
#set myip = 'No Contact'
#set mycountry = ''
#set mycountrycode = ''
#set uptime = ''
##set mypolicy = 'Unknown'

#end try

<table border="0" style="width:100%" id="RepoMaliciousTable"><div>

	  <tr>
			<td id="RepoMaliciousTitle"><div>Hostame</div></td>
			<td>$agent['hostname']</td></td>
			</tr>
			
			<tr>
			<td id="RepoMaliciousTitle"><div>Last HB</div></td>
			<td>$last_heartbeat</td></td>
			</tr>
			
			<tr>
			<td id="RepoMaliciousTitle"><div>Uptime</div></td>
			<td>$uptime</td></td>
			</tr>
			
			<tr>
			<td id="RepoMaliciousTitle"><div>Last IP</div></td>
			<td>$myip @ $mycountry - $mycountrycode</td></td>
			</tr>
			
</div>
</table>



<h3>Edit PooMA-Agent Policy</h3>


<form action="updateAgentPolicy" method="post" enctype="application/x-www-form-urlencoded">


<table border="0" style="width:100%" id="RepoMaliciousTable"><div>


<tr>
			<td id="RepoMaliciousTitle"><div>Policy Version</div></td>
			<td>$agent['policy']['version']</td>
			
			<td id="RepoMaliciousTitle"><div>Agent Debugging</div></td>
			<td><select name="agent_debugging">
																		<option value=true>On</option>
																		<option value=false>Off</option>
																	</select>
	  </td>
			
			</tr>




	  <tr>
			<td id="RepoMaliciousTitle"><div>C&C Heartbeat</div></td>
			<td><select name="frequency">
																		<option value="1">1 min</option>
																		<option value="3">3 min</option>
																		<option value="5">5 min</option>
																		<option value="10">10 min</option>
																		<option value="15">15 min</option>
																		<option value="30">30 min</option>
																		<option value="60">60 min</option>
																	</select>
	  </td>
			
			<td id="RepoMaliciousTitle"><div>HB TTL</div></td>
			<td><select name="heartbeat_ttl">
																		<option value="1">1 day</option>
																		<option value="7">7 days</option>
																		<option value="30">30 days</option>
																	</select>
	  </td>
			</tr>
			
			
			
			
			
			
			<tr>
			<td id="RepoMaliciousTitle"><div>HTTP/S Proxy IP</div></td><td>10.20.30.40</td>
			<td id="RepoMaliciousTitle"><div>HTTP/S Proxy Port</div></td><td>8080</td>
			</tr>
			
			<tr>
			<td id="RepoMaliciousTitle"><div>Proxy User</div></td><td>user</td>
			<td id="RepoMaliciousTitle"><div>Proxy Password</div></td><td>password</td>
			</tr>
			
			
</div>
</table>
<br>

<h3>Task Assigned to this agent</h3>

<table border="0" style="width:100%" id="RepoMaliciousTable"><div>

	  <tr>
			<td id="RepoMaliciousTitle"><div>XXX</div></td>
			<td>xxxxx</td>
			</tr>
	  </div>
</table>
 <br>

<input type='hidden' name="currentversion" value=$agent['policy']['version']>
<input type='hidden' name="agentID" value=$agent['xid']>




<input type='submit' value='Update'>
</form>
