#import iconsbase64
#import time
#import base64
#from glossary import os_images as os_images


<h2>Phishing Templates</h2>

#### CREATE CAMPAIGN WIDGET	
	<tr>
	
<form action="savePhishingTemplateSettings" method="post" enctype="application/x-www-form-urlencoded">
<input type='submit' value='Create a NEW Template' >

</form>
</tr>
	
#### END OF CREATE CAMPAIG WIDGET

<br>

$widgetPhishingTemplates


