#import iconsbase64
#import time
#from glossary import os_images as os_images

<h2>Rename a file</h2>

 <form action="doRename" method="post" enctype="application/x-www-form-urlencoded">
          <input type="hidden" name="sampleID" value=$sampleid>

<table border="0" style="width:100%" id="RepoMaliciousTable"><div>

      <tr><td id="RepoMaliciousTitle"><div>Actual name:</div></td>
      
      <td><div>$sampleFile.filename</div></td></tr>
      
      
 <tr>
    
    <td id="RepoMaliciousTitle"><div>New name:</div></td>
    
    <td><input type='text' maxlength=100 name='newname' value=$sampleFile.filename style="width:500px;"></td>
    
    
 
 </tr>

      
      
</table>
<p>
<input type='submit' value='Rename' >
<input type='submit' value='Cancel' >
</p>

 </form>











