#import iconsbase64

<h3>Login</h3>

<form action="login" method="post">
    <input type="hidden" name='section_name' value='portal'>
<p></p>
<p>Admin Account: </p>
<p>User: <input type='text' maxlength=40 name='admin_email'></p>
<p>Password: <input type='password' maxlength=20 name='admin_password'></p>
<p>OTP Token: <input type='otp' maxlength=20 name='admin_otp'></p>



<input type='submit' value='Login' >

</form>