#import iconsbase64
#import time
#from glossary import os_images as os_images

<h2>Send E-mail.</h2>


 <form action="sendEmail" method="post" enctype="application/x-www-form-urlencoded">
          <input type="hidden" name="sampleid" value=$attachment.md5>
          ###<input type="hidden" name="message" value='A New Email for you'>


<table border="0" style="width:100%" id="RepoMaliciousTable"><div>

      <tr><td id="RepoMaliciousTitle"><div>From</div></td><td>pooma @ 
	  
	  ###<input type='text' maxlength=20 name='efrom_user' value='pooma' size=20>
	  
	  <select name="efrom_domain">
            <option value="fusiondementes.net">fusiondementes.net</option>
			<option value="malwr.xyz">malwr.xyz</option>
           </select>
	  </td></tr>
      
      
      <tr><td id="RepoMaliciousTitle"><div>To</div></td><td id="RepoMaliciousText">
            <div>
                <input type='text' maxlength=3100 name='send_to' size=50>
            </div>
      </td></tr>

	<tr><td id="RepoMaliciousTitle"><div>Template</div></td> <td>
		
		<select name="template">
			<option value="001">001 Intent of Purchase [File Attachment/Text Email/No Links]</option>
			<option value="002">002 O365 Voice Message Notification [File Attachment/HTML/Link]</option>
           </select>
		
	</td></tr>


      <tr><td id="RepoMaliciousTitle"><div>Subject</div></td><td><input type='text' maxlength=3100 name='subject' size=50></td></tr>
      
      <tr>
         
    <tr><td id="RepoMaliciousTitle"><div>Attachment</div></td> <td>$attachment.filename</td></tr>
    <tr><td id="RepoMaliciousTitle"><div>Attachment Options</div></td>
		   <td>
			<input type="checkbox" name="as_url" value='True'>Send link to this file instead of the attachment.<br>
			<input type="checkbox" name="with_shortener" value='True'>Link URL uses a shortener.<br>
	
		   </td></tr>
    
    

      
      
</table>
<p>
<input type='submit' value='Send Email' >
</p>

 </form>










