#import iconsbase64
#import time
#import datetime

<h3>Content in archive</h3>

#if $archiveContent == None
No content
#else
<div id="LastEvents">
<table border="0" style="width:100%">
 <tr>
    <th>Date</th>
    <th>Filesize</th> 
    <th>Filename</th>
  </tr>
#for file in $archiveContent
 <tr>
   <td></td>
   <td>$file.file_size</td>
   <td>$file.filename</td>
 </tr>
#end for 

</table>
</div>

#end if



