#import iconsbase64
#import time
#import base64
#from glossary import os_images as os_images


<h2>Edit Phishing Targets Lists</h2>

<form action="saveTargetSettings" method="post" enctype="application/x-www-form-urlencoded">

<input type="hidden" name="targetlist_id" value="$list.targetlist_id">



<table border="0" style="width:100%" id="RepoMaliciousTable"><div>

      <tr><td id="RepoMaliciousTitle"><div>List Name</div></td>
			<td><input type="text" name="targetlist_name" value="$list.targetlist_name" size=30></a></td></tr>
		
		
		
		
	<tr><td id="RepoMaliciousTitle"><div>CSV list</div></td>
	
			<td>
				<select name="csvfile">
##<option value="none" selected>none</option>
#for csvfile in $csvfiles
		<option value="$csvfile['md5']"> $csvfile['filename']</option>
#end for
</select></td>
	
	
	</tr>
	
	
	
	
	
##	  <tr><td id="RepoMaliciousTitle"><div>Targets</div></td>
##	  <td>
##		<textarea name="targets" rows="10" cols="60">
##username,email
###for item in $list.targets
##$item.name,$item.email
###end for
##		</textarea>
##	  </td></tr>
	  

</table>
 <br> 
<input type='submit' value='Save Targets'></form>




