
<form action="upload" method="post" enctype="multipart/form-data">
<input type="hidden" name="origin" value="web-upload">
<input type="file" name="customer_file">

<input type='submit' value='Upload' >
</form>

