#import iconsbase64
#import time
#import datetime
#from glossary import EMULATION_ENV
##from glossary import FEEDNAME as feedname
##from glossary import CLOUD_FEEDS as cloudFeeds


<h3>High Availavility</h3>




<form action="saveConfig" method="post" enctype="application/x-www-form-urlencoded">
<table border="0" style="width:100%" id="RepoMaliciousTable"><div>
	<input type="hidden" name="setting" value="ha">
	<input type="hidden" name="section" value="sandblast">



      <tr><td id="RepoMaliciousTitle"><div>Primary Service:</div></td> <td><select name="primary">
  <option value="http://10.10.10.40/tecloud/api/v1/file/">SandBlast PRIVATE Cloud</option>
  <option value="https://te.checkpoint.com/tecloud/api/v1/file/">SandBlast PUBLIC Cloud</option>
  <option value="not_enabled">NOT ENABLED</option>
            </select></td></tr>
      
      
	  
      <tr><td id="RepoMaliciousTitle"><div>Backup Service:</div></td> <td><select name="backup">
   <option value="http://10.10.10.40/tecloud/api/v1/file/">SandBlast PRIVATE Cloud</option>
  <option value="https://te.checkpoint.com/tecloud/api/v1/file/">SandBlast PUBLIC Cloud</option>
  <option value="not_enabled">NOT ENABLED</option>
            </select></td></tr>

</table>

<br>
<input type='submit' value='Save HA'></form>




<h3>Emulation Environments</h3>


<form action="saveConfig" method="post" enctype="application/x-www-form-urlencoded">
<table border="0" style="width:100%" id="RepoMaliciousTable"><div>

#for environment in $EMULATION_ENV
      <tr><td id="RepoMaliciousTitle"><div><input type='checkbox' value='Save HA'></div></td>
		  <td>$environment['os'] - $environment['apps']</td></tr>
#end for    

</table>

<br>
<input type='submit' value='Save Environments'></form>

<!--
<table border="0" style="width:100%" id="RepoMaliciousTable"><div>

      <tr><td id="RepoMaliciousTitle"><div>AV/TE/TEX for Documents</div></td> <td><select name="feed">
  <option value="cpsb_local">Check Point SandBlast Local API</option>
  <option value="cpsb_cloud">Check Point SandBlast Cloud API</option>
  <option value="not_enabled">NOT ENABLED</option>
            </select></td></tr>
      
      
	  
      <tr><td id="RepoMaliciousTitle"><div>AV/TE for Executables</div></td> <td><select name="feed">
  <option value="cpsb_local">Check Point SandBlast Local API</option>
  <option value="cpsb_cloud">Check Point SandBlast Cloud API</option>
   <option value="not_enabled">NOT ENABLED</option>
            </select></td></tr>
	  
	    <tr><td id="RepoMaliciousTitle"><div>AV/TE for Flash</div></td> <td><select name="feed">
  <option value="cpsb_local">Check Point SandBlast Local API</option>
  <option value="cpsb_cloud">Check Point SandBlast Cloud API</option>
   <option value="not_enabled">NOT ENABLED</option>
            </select></td></tr>
	  

</table>-->

