#import iconsbase64
#import time
#import datetime
##from glossary import os_images as os_images




<h3>Default Analysis Settings</h3>

<form action="saveEmailAccount" method="post" enctype="application/x-www-form-urlencoded">

<h4>eMail Account Details</h4>
<table border="0" style="width:100%" id="RepoMaliciousTable"><div>

      <tr><td id="RepoMaliciousTitle"><div>Email</div></td> <td><input type="text" name="email" value=""></td></tr>
	  
	  <tr><td id="RepoMaliciousTitle"><div>User</div></td><td><input type="text" name="user" value=""></td>
          <td id="RepoMaliciousTitle"><div>Password</div></td>  <td><input type="text" name="passwd" value=""></td></tr>
	  
	  
	  
	  ##<tr><td id="RepoMaliciousTitle"><div>Service</div></td><td>	<select name="service">
	##																	<option value="imap-file-crawler">IMAP file crawler</option>
		##																<option value="full-analysis">Email Full Analysis</option>
			##														</select></td>
          ##<td id="RepoMaliciousTitle"><div>Mode</div></td>  <td><select name="mode">
			##															<option value="silent">Silent Mode</option>
				##														<option value="prevent">Prevent Mode</option>
					##												</select></td></td></tr>
	  <tr><td id="RepoMaliciousTitle"><div>Service Host</div></td><td><input type="text" name="imap_host" value=""></td>
          <td id="RepoMaliciousTitle"><div>Port</div></td>  <td><input type="text" name="imap_port" value=""></td></tr>
	  
	  <tr><td id="RepoMaliciousTitle"><div>Status</div></td> <td><select name="status">
																		<option value="active">Active</option>
																		<option value="disabled">Disabled</option>
																	</select></td></td></tr>
	  
      ##<tr><td id="RepoMaliciousTitle"><div>Cookie</div></td> <td><input type="text" name="cookie" value="xx"></td></tr>
      ##<tr><td id="RepoMaliciousTitle"><div>Status</div></td>
	##<td><select name="status">
      ##      <option value="enable">Enable</option>
		##	<option value="disable">Disable</option>
          ##  </select>
	  
	  ##</td></tr>

</table>

<h4>Attachment Analysis</h4>
<table border="0" style="width:100%" id="RepoMaliciousTable"><div>

      
	  
	  
	  <tr><td id="RepoMaliciousTitle"><div>File Type</div></td> <td><select name="status">
																		<option value="active">File type</option>
																		<option value="disabled">All Supported files</option>
																	</select>
	  <input type='submit' value='Add a Group'>
	  </td></td></tr>
	  
    

</table>


<div id="LastEvents">
<table border="0" style="width:100%">
 <tr>
    <th>File Type</th>
    <th>Emulation</th> 
    <th>Sanitization</th>
	<th>Yara Rules</th>
  </tr>
</table>
</div>
 
 
 

<h4>Pattern Finding</h4>
<table border="0" style="width:100%" id="RepoMaliciousTable"><div>

      
	  
	  
	  <tr><td id="RepoMaliciousTitle"><div>Patterns</div></td> <td><select name="status">
																		<option value="active">Pattern Group 01</option>
																		<option value="disabled">Pattern Group 02</option>
																	</select>
	  <input type='submit' value='Add a Group'>
	  </td></td></tr>
	  
    

</table>


<div id="LastEvents">
<table border="0" style="width:100%">
 <tr>
    <th>Patterns</th>
    <th>Save</th> 
    <th>Alert</th>
  </tr>
</table>
</div>
 
<input type='submit' value='Save'></form>


