#import iconsbase64
#import time
#import base64
#from glossary import os_images as os_images

		
<h2>Edit Phishing campaing:  $phishing.campaign_name</h2>


<h3>Campaign settings</h3>



<br>

<form action="savePhishingCampaignSettings" method="post" enctype="application/x-www-form-urlencoded">

<input type="hidden" name="campaignid" value="$phishing.campaign_id">

<table border="0" style="width:100%" id="RepoMaliciousTable"><div>

	
	<tr><td id="RepoMaliciousTitle"><div>Campaign Name</div></td>
	  
	  <td><input type="text" name="campaign_name" value="$phishing.campaign_name" size=30></td></tr>

<tr><td id="RepoMaliciousTitle"><div>Creation Date</div></td><td id="RepoMaliciousText">
            <div>
                $phishing.creation_date
            </div>
      </td></tr>

      <tr><td id="RepoMaliciousTitle"><div>Description</div></td>
	  
	  <td><textarea name="campaign_description" rows="3" cols="100">$phishing.campaign_description </textarea></td></tr>

	

	  ##
      ##<tr><td id="RepoMaliciousTitle"><div>Expiration Date</div></td><td>$phishing.expiration_date</td></tr>
      ##	 <tr><td id="RepoMaliciousTitle"><div>Status</div></td><td>$phishing.status</td></tr>

		
		
	 <tr><td id="RepoMaliciousTitle"><div>Delay</div></td><td><input type="text" name="delay_between_emails" value="$phishing.delay_between_emails" size=2> seconds</td></tr>
      
      
		
	<tr><td id="RepoMaliciousTitle"><div>Target Email List</div></td><td id="RepoMaliciousText">
            <select name="target_email_list">
					
#for target in $targets
#set $total_items = len($target.targets)		
			<option value="$target.targetlist_id">$target.targetlist_name ($total_items items)</option>
#end for
           </select>
      </td></tr>
         
       
</table>

<br>
<input type='submit' value='Save Campaign Changes'></form>



