#import iconsbase64
#import time
#import datetime
##from glossary import os_images as os_images


<h3>Object Analysis On-Demand $iconsbase64.edit_small</h3>

<form action="saveEmailAccount" method="post" enctype="application/x-www-form-urlencoded">


<table border="0" style="width:100%" id="RepoMaliciousTable"><div>

      
	  
	  
	  <tr>
			<td id="RepoMaliciousTitle"><div>Malware Policy</div></td>
			<td><select name="status">
																		<option value="active">Full Malware Analysis and Sanitization</option>
																		<option value="disabled">Basic Malware Detection and Sanitization</option>
																	</select>
	  <input type='submit' value='Select'>
	  </td></td>
			</tr>
	  
    



     	  <tr>
				
				<td id="RepoMaliciousTitle"><div>Scrubbing Policy</div></td> <td><select name="status">
																		<option value="enable">Download & Analyse target file</option>
																		<option value="disabled">Ignore</option>
																	</select>

	  </td>
				
					<td id="RepoMaliciousTitle"><div>URL Reputation</div></td> <td><select name="status">
																		<option value="enable">Extract and Analyze</option>
																		<option value="disabled">Ignore</option>
																	</select>
	
	  </td>
			
			</tr> 
	  
	  
	  <tr>
				
				<td id="RepoMaliciousTitle"><div>Yara Rules</div></td> <td><select name="status">
																		<option value="enable">Search Reputation</option>
																		<option value="disabled">Ignore</option>
																	</select>

	  </td>
				
					<td id="RepoMaliciousTitle"><div>Exceptions</div></td> <td><select name="status">
																		<option value="enable">White & Black list</option>
																		<option value="disabled">Ignore</option>
																	</select>
	
	  </td>
			
			</tr>
			
	  <tr>
				
				<td id="RepoMaliciousTitle"><div>Patterns</div></td>
				
				<td><select name="status">
																		<option value="active">Pattern Group 01</option>
																		<option value="disabled">Pattern Group 02</option>
																	</select>
	  <input type='submit' value='Add a Group'>
	  </td>
				
				
			
			</tr>
	  
    

</table>


<div id="LastEvents">
<table border="0" style="width:100%">
 <tr>
    <th>Pattern</th>
    <th>Subject</th> 
    <th>Body</th>
  </tr>
	
	<tr>
<td>Credit Cards</td>
<td>NO</td>
<td>YES</td>
</tr>
	
		<tr>
<td>Confidential Project Names</td>
<td>YES</td>
<td>YES</td>
</tr>
	
</table>
</div>
 
<input type='submit' value='Save'></form>


