#import iconsbase64
#import time
#import datetime
##from glossary import os_images as os_images


<h3>Edit file analysis policy</h3>


<table border="0" style="width:100%" id="RepoMaliciousTable"><div>


	  <tr>
			<td id="RepoMaliciousTitle"><div>Policy</div></td>
			

			<td>
				
					<form action="setPolicy" method="post" enctype="application/x-www-form-urlencoded">
				<select name="policyID">
#for policy in $policyset
	<option value="$policy['policy_id']">$policy["policy_name"]</option>
#if $policy['default_policy'] == True
<option value="$policy['policy_id']" selected>$policy["policy_name"]</option>
#end if
#end for														
			</select>
	  <input type='submit' value='Select'>	</form>
			<td>
			
			</tr>
	 </div>
</table>
<br>


#for policy in $policyset
$policy
#end for

<table border="0" style="width:100%" id="RepoMaliciousTable"><div>

	  <tr>
			<td id="RepoMaliciousTitle"><div>Check Point SandBlast</div></td>
			<td><select name="feed_sandblast">
																		<option value="active">Enable</option>
																		<option value="disabled">NOT Enabled</option>
																	</select>
	  </td></td>
			</tr>
</div>
</table>
<br>


<form action="savePolicy" method="post" enctype="application/x-www-form-urlencoded">


<table border="0" style="width:100%" id="RepoMaliciousTable"><div>

	  <tr>
			<td id="RepoMaliciousTitle"><div>Metadefender</div></td>
			<td><select name="feed_metadefender">
																		<option value="active">Enable</option>
																		<option value="disabled">NOT Enabled</option>
																	</select>
	  </td></td>
			</tr>
	  </div>
</table>
 <br>





<table border="0" style="width:100%" id="RepoMaliciousTable"><div>

	  <tr>
			<td id="RepoMaliciousTitle"><div>Binary Alert Yara rules</div></td>
			<td><select name="feed_binaryalert">
																		<option value="active">Enable</option>
																		<option value="disabled">NOT Enabled</option>
																	</select>
	  </td></td>
			</tr>
	  

</table>
<br>
<input type='submit' value='Update'>
</form>