#import iconsbase64
#import time
#import datetime

<h3>Quota statistics</a></h3>
#set quota = $stats['response'][0]

<table border="0" style="width:100%" id="RepoMaliciousTable"><div>
   
   
   <tr><td id="RepoMaliciousTitle"><div>Action</div></td><td id="RepoMaliciousText"><div>$quota['action']</div></td></tr>
   
   
      <tr><td id="RepoMaliciousTitle"><div>Max/hour</div></td><td id="RepoMaliciousText"><div>$quota['assigned_quota_hour']</div></td>
          <td id="RepoMaliciousTitle"><div>Max/month</div></td><td id="RepoMaliciousText"><div>$quota['assigned_quota_month']</div></td></tr>
      
      <tr><td id="RepoMaliciousTitle"><div>Remain/hour</div></td><td id="RepoMaliciousText"><div>$quota['remain_quota_hour']</div></td>
          <td id="RepoMaliciousTitle"><div>Remain/month</div></td><td id="RepoMaliciousText"><div>$quota['remain_quota_month']</div></td></tr>
      
      <tr><td id="RepoMaliciousTitle"><div>Hourly reset</div></td><td id="RepoMaliciousText"><div>$datetime.date.fromtimestamp(float($quota['hourly_quota_next_reset']))</div></td>
          <td id="RepoMaliciousTitle"><div>Monthly reset</div></td><td id="RepoMaliciousText"><div>$datetime.date.fromtimestamp(float($quota['monthly_quota_next_reset']))</div></td></tr>
      
      <tr><td id="RepoMaliciousTitle"><div>Starting at</div></td><td id="RepoMaliciousText"><div>$datetime.date.fromtimestamp(float($quota['cloud_monthly_quota_period_start']))</div></td>
          <td id="RepoMaliciousTitle"><div>Expiration</div></td><td id="RepoMaliciousText"><div>$datetime.date.fromtimestamp(float($quota['quota_expiration']))</div></td></tr>

</table>




