#import iconsbase64
#import time
#from glossary import os_images as os_images

<h2>Database Settings</h2>
<p>Add a MongoDB Server</p>
<h3>$iconsbase64.primary_database Primary Database</h3>

<table border="0" style="width:100%" id="RepoMaliciousTable"><div>

      <tr><td id="RepoMaliciousTitle"><div>Server</div></td><td>xxxx</td></tr>
<tr><td id="RepoMaliciousTitle"><div>Port</div></td><td id="RepoMaliciousText">
            <div>
                <a href="download?sample&fileformat=http">xxx</a>
            </div>
      </td></tr>
      <tr><td id="RepoMaliciousTitle"><div>Username</div></td><td id="RepoMaliciousText"><div>xx</div></td>
          <td id="RepoMaliciousTitle"><div>Password</div></td>  <td id="RepoMaliciousText"><div>xxx</div></td></tr>
      
      
      
      
</table>
<h3>$iconsbase64.add_database BackUp Database</h3>

<table border="0" style="width:100%" id="RepoMaliciousTable"><div>

      <tr><td id="RepoMaliciousTitle"><div>Server</div></td><td>xxxx</td></tr>
<tr><td id="RepoMaliciousTitle"><div>Port</div></td><td id="RepoMaliciousText">
            <div>
                <a href="download?sample&fileformat=http">xxx</a>
            </div>
      </td></tr>
      <tr><td id="RepoMaliciousTitle"><div>Username</div></td><td id="RepoMaliciousText"><div>xx</div></td>
          <td id="RepoMaliciousTitle"><div>Password</div></td>  <td id="RepoMaliciousText"><div>xxx</div></td></tr>
      
      
      
      
</table>









