#import iconsbase64
#import time
#from glossary import os_images as os_images

<h2>Compress / Enrypt a Sample .</h2>

 <form action="doArchive" method="post" enctype="application/x-www-form-urlencoded">
          <input type="hidden" name="sampleid" value=$sampleid>

<table border="0" style="width:100%" id="RepoMaliciousTable"><div>

      <tr><td id="RepoMaliciousTitle"><div>Filename:</div></td><td><input type='text' maxlength=100 name='filename'></td></tr>
      
      
 <tr>
    
    <td id="RepoMaliciousTitle"><div>Compression:</div></td>
    
    <td id="RepoMaliciousText"><div>
      
      <select name="method">
            <option value="zip">Zip (.zip)</option>
            </select></div></td>
    
    <td id="RepoMaliciousTitle"><div>Password:</div></td>  <td id="RepoMaliciousText"><div><input type='text' maxlength=3100 name='encpassword' > </div></td>
 
 </tr>

      
      
</table>
<p>
<input type='submit' value='Archive!' >
<input type='submit' value='Cancel' >
</p>

 </form>










