#import iconsbase64
#import time
#import base64
#from glossary import os_images as os_images


<h2>Edit Phishing Template</h2>
<h3>Tokens:</h3>
<p>url: Phishing link to be insterted on the template</p>
##$template

<form action="saveTemplateSettings" method="post" enctype="application/x-www-form-urlencoded">

<input type="hidden" name="template_id" value="$template.template_id">


<table border="0" style="width:100%" id="RepoMaliciousTable"><div>

      <tr><td id="RepoMaliciousTitle"><div>Name</div></td><td><input type="text" name="template_name" value="$template.template_name" size=80></td></tr>
	  
	  
			#set subject = $base64.standard_b64decode($template.template_subject)
			 <tr><td id="RepoMaliciousTitle"><div>Subject</div></td><td><textarea name="template_subject" rows="5" cols="120">$subject</textarea> </td></tr>
			 
			 
			 
			 <tr><td id="RepoMaliciousTitle"><div>Content Type</div></td><td>$template.content_type  <a href="phishingpreview?templateid=$template.template_id" target="_blank"> (Preview)</a></td></tr>
      <tr><td id="RepoMaliciousTitle"><div>Email Service</div></td><td>$template.email_service</td></tr>
		
			<tr><td id="RepoMaliciousTitle"><div>Shorten Links</div></td>
			
			<td><select name="shortener">
				<option value="no">No change</option>
				<option value="random">Random</option>
				<option value="tinyurl">with Tiny.URL</option>
				<option value="owly">with Ow.ly</option>
		</select></td></tr>
		
#set body = $base64.standard_b64decode($template.template_body)
<tr><td id="RepoMaliciousTitle"><div>Template Body</div></td><td><textarea name="template_body" rows="30" cols="120">$body</textarea></td></tr>

</table>
<br>
<input type='submit' value='Save Template'></form>


