#import iconsbase64
#import time
#import base64
#from glossary import os_images as os_images


<h2>Phishing Targets Lists</h2>

#### CREATE TARGET LIST WIDGET	
	<tr>
	
<form action="addTargetList" method="post" enctype="application/x-www-form-urlencoded">
<input type='submit' value='Create NEW target list' >

</form>
</tr>
	
#### END OF CREATE TARGET LIST WIDGET
<br>
#for list in $targets_list


<table border="0" style="width:100%" id="RepoMaliciousTable"><div>

      <tr><td id="RepoMaliciousTitle"><div>List Name</div></td>
			<td>$list.targetlist_name <a href="editTargetList?targetlistid=$list.targetlist_id">$iconsbase64.edit_small</a> <a href="deleteTargetList?targetlistid=$list.targetlist_id">$iconsbase64.delete_medium_icon</a></td></tr>
	  <tr><td id="RepoMaliciousTitle"><div>Targets</div></td>
	  <td>
		#for item in $list.targets
		$item.name ($item.email),
		#end for
	  </td></tr>
	  
	  
	  #set $total_items = len($list.targets)
      <tr><td id="RepoMaliciousTitle"><div>Total of items</div></td><td>$total_items</td></tr>


##    <tr>
##	<td id="RepoMaliciousTitle"><div>Attachment Options</div></td>
##	
##	<td>
##		<input type="checkbox" name="as_url" value='True'>Send link to this file instead of the attachment.<br>
##	
##	</td>
##  </tr>
    
  


</table>

 <br> 
#end for


