#import iconsbase64
#import time
#from glossary import os_images as os_images

##<h3>$iconsbase64.poison_icon Do not execute any file in any personal or corporate system. All files are real malware. $iconsbase64.poison_icon</h3>

#for tag in $tag_dict.keys()

<table border="0" style="width:100%" id="RepoMaliciousTable"><div>

      <tr><td id="RepoMaliciousTitle"><div>$tag</div></td></tr>
      
#for malware in $tag_dict[$tag]
<tr><td>
#set malware_name = malware.keys()[0]
#set md5 = $malware[$malware_name]
<a href="file?sampleid=$md5">$malware_name</a> 
</td></tr>
#end for

</table><br>

#end for

