<h2>Installation Script for FreeBSD</h2>

<p>This script needs a FreeBSD 11; curl and bash needs to be installed before runing the initial script</p>
<p>Download Installation Script for: <a href="pooma_init_agent?platform=bsd">FreeBSD</a></p>


<h2>Scripting Resources</h2>

<p><a href="agents/bashlinuxbsd">Old bulk uploading bash script</a></p>
<!--<p><a href="index?section=agents&script=pylinuxbsd">Python script for Linux & BSD</a></p>
<p><a href="index?section=agents&script=pshellwin">PowerShell script for Windows XX</a></p>
<p><a href="index?section=agents&script=pywin">Python script for Windows XX</a></p>
-->
<p><a href="scripts/mlwrlistmd5">Text Plain list for malicious MD5 Hashes</a></p>
<!--<p><a href="index?section=agents&script=pylinuxbsd">Python script for Linux & BSD</a></p>
<p><a href="index?section=agents&script=pshellwin">PowerShell script for Windows XX</a></p>
<p><a href="index?section=agents&script=pywin">Python script for Windows XX</a></p>
-->
