#import iconsbase64
#import time
#from glossary import os_images as os_images
#from checkpointCmds import TE_CLI as tecli
#from checkpointCmds import GAIA as gaia
#from checkpointCmds import NGFW as ngfw


<div id="LastEvents">
<table border="0" style="width:100%">

<tr>
	
#if $oneclick_settings == None
<td><p>No node is selected for troubleshooting.</p></td>
#else
	<td><p>You are troubleshooting node: $oneclick_settings['active_node']@$oneclick_settings['ipv4']</p></td>
#end if
	<td>
		
	<form action="set1clkNode" method="post" enctype="application/x-www-form-urlencoded">
			<select name="node_hostname">
#for node in $nodes
  <option value="$node['hostname']">$node['hostname']@$node['ipv4_addr']</option>
#end for
            </select>
			<input type='submit' value='Change Node'></form>	
	</td>
	
	<td>
		
	<form action="set1clkNode" method="post" enctype="application/x-www-form-urlencoded">
			
	<input type='submit' value='Show History'></form>	
	</td>
	
	
	
</tr>	

</table>
</div>





<div id="LastEvents">
<table border="0" style="width:100%">
	
###set vncs=8
###for vncport in range(8)
###	<a href="http://192.168.1.66:608$vncport/vnc.html?host=192.168.1.66&port=608$vncport">$iconsbase64.vnc_icon #$vncport</a>  
####end for
	
	
	

	
 <tr>
    <th>Threat Prevention</th>
    <th>
NextGen Gateway
	</th>
	<th>GAiA</th>
  </tr><tr>
      <td>
		<form action="oneclickcli" method="post" enctype="application/x-www-form-urlencoded">
			<select name="cmd">
#for $cli in $tecli
  <option value="$cli['cmd']">$cli['name']</option>
#end for
            </select>
			<input type='submit' value='Execute'></form>
	  </td>
      <td>
				<form action="oneclickcli" method="post" enctype="application/x-www-form-urlencoded">

		<select name="cmd">
#for $cli in $ngfw
  <option value="$cli['cmd']">$cli['name']</option>
#end for
            </select>
		<input type='submit' value='Execute'></form>
	  </td>
	  
	  <td>
				<form action="oneclickcli" method="post" enctype="application/x-www-form-urlencoded">

		<select name="cmd">
#for $cli in $gaia
  <option value="$cli['cmd']">$cli['name']</option>
#end for
            </select>
		<input type='submit' value='Execute'></form>
	  </td>
		
     </tr>



</table>
</div>
	
<div id="LastEvents">
<table border="0" style="width:100%">
	<tr>
	<td id="RepoMaliciousTitle"><div>Autorefresh</div></td><td>Every 3s.</td>
</tr>
</table>
	
	
	
	
<br>

		

<p>$> $command</p>

<pre>$cmdoutput</pre>


