#import iconsbase64
#import time
#import datetime
##from glossary import os_images as os_images


<h3>File Analysis Policy</h3>

<form action="reAnalize" method="post" enctype="application/x-www-form-urlencoded">


<table border="0" style="width:100%" id="RepoMaliciousTable"><div>
	  
	  <tr>
			<td id="RepoMaliciousTitle"><div>Policy</div></td>
			<td><select name="status">
																		<option value="active">Full Malware Analysis and Sanitization</option>
																		<option value="disabled">Basic Malware Detection and Sanitization</option>
																	</select>
	  <input type='submit' value='Select'>
	  </td></td>
			</tr>
	 </div>
</table>

<br>
<table border="0" style="width:100%" id="RepoMaliciousTable"><div>

	  <tr>
			<td id="RepoMaliciousTitle"><div>Check Point SandBlast</div></td>
			<td><select name="status">
																		<option value="active">Enable</option>
																		<option value="disabled">NOT Enabled</option>
																	</select>
	  </td></td>
			</tr>
</div>
</table>
<br>

<table border="0" style="width:100%" id="RepoMaliciousTable"><div>

	  <tr>
			<td id="RepoMaliciousTitle"><div>Metadefender</div></td>
			<td><select name="status">
																		<option value="active">Enable</option>
																		<option value="disabled">NOT Enabled</option>
																	</select>
	  </td></td>
			</tr>
	  </div>
</table>
    <br>
<table border="0" style="width:100%" id="RepoMaliciousTable"><div>

	  <tr>
			<td id="RepoMaliciousTitle"><div>Binary Alert Yara rules</div></td>
			<td><select name="status">
																		<option value="active">Enable</option>
																		<option value="disabled">NOT Enabled</option>
																	</select>
	  </td></td>
			</tr>
	  

</table>


    <br>

<input type='submit' value='Save'></form>


