
<h2>About Poor Man's Agent</h2>

<p>PooMA is a file repositorie with Advanced Malware PREVENTION embedded. Once files are submited,
they are analyzed in a public or private malware detection system.</p>
<p>This application is mainly a proof of concept for Check Point's SandBlast Threat Prevention API.</p>

<h2>How it works...</h2>
<p>PooMA will receive your files from different sources (web formular or scripts), store them on a Grid File System and get some information about
the file like hashes, list of archived content or content-type. Then two threads will start, a malware testing and a scrubbing process.</p>

<p>Malware testing thread will query for AntiVirus and Threat Emulation features for information about it. Pooma first ask if the hash is of a
know virus, if it is unknown a full analysis will happen for Win XP,7 & 10 and forensics reports are generated if the file is malware.</p>

<p>Sanitizing thread will query Threat Extraction features and will perform PDF conversion for all supported documents. Both the original version
and the converted version are available for download.</p>

<p>Files can be analized on a local emulation cloud or at public emulation service, PooMA can fail-over from local to cloud and viceversa if any resource
is unavailable. Pivate clouds are built with multiple appliance using an embedded load balancer. It performs round-robin by default between
Security Gateways or SandBlast TE appliances.</p> 

<h2>Importing files to PooMA</h2>

<h3>Upload files using cURL</h3>
<p>For sending an individual file using CLI</p>
<pre>curl -v -F origin="hostname" -F customer_file=@malware.exe http://pooma.fusiondementes.net/upload</pre>

<h3>Upload a file from WebUI</h3>
<p>For sending an individual file using the WebUI, go to index and upload using the formular.</p>

<h3>Fetch a file from a URL</h3>
<p>If a suspicious URL leads to a downloadable file, PooMA will fectch it for you and analyze the file, go to index
and paste the URL at "Malicious URL" text box.</p>

<h3>Upload a whole directory for analysis.</h3>
<p>For bulk uploading, you should use an script. Directories are listed on the Agent's settings section. A Bash script is available
and should work for all *nix-Like using BASH.</p>
<p>Download the "agent":</p>
<pre>
  curl "http://pooma.fusiondementes.net/agents/bashlinuxbsd" > agent.sh
</pre>
<h3>IMAP-Crawler.</h3>
<p>IMAP-Crawler will listen to incoming e-mail messages, fetch each attachment from emails and import them to PooMA.</p>


<!--<h2>Agent setup files:</h2>

<p>Define the following local files to override global functions:</p>
<ul>
  <li><pre>pooma.malwr_scan_list</pre> - Defines the local list of directories to be scanned.</li>
  <li><pre>pooma.enable_debug</pre> - If file exist, the agent will run in debug mode.</li>
</ul>
<h2>File Encryption</h2>
<p>If agent is set to encrypt by default, malicious files will be encrypted with the defined password using aes-256-ecb
and encoded in Base64, so all files are just ASCII text</p>
<p>Openssl is used in Unix like systems to encrypt files:</p>
<pre>
openssl enc -aes-256-ecb -in d2598d3a26e2.zip -out d2598d3a26e2.zip.pooma
openssl enc -d -aes-256-ecb -in d2598d3a26e2.zip.pooma -out d2598d3a26e2_desenc.zip -a
</pre>
<h2>Directory Scanning</h2>
<p>The agent will scan all files on the first level of the directory, agent is not recursivley (no yet). Include the sublevels you want to scan also.</p>
<p>If a file pooma.mlwr_scan_list is defined on AGDIR, this list will be processed instead of the global one.</p>
<p>If the path on the list does not exist on the host, it will be ignored.</p>-->
<h2>Resources about SandBlast API</h2>
<p>https://sc1.checkpoint.com/documents/TPAPI/v1/html_frameset.html</p>
<center>
    <img src="images/mongoDB.png" width="70" height="40">
    <img src="images/restful.png" width="70" height="40">
    <img src="images/fabric.png" width="70" height="40">
    <img src="images/cplogo.jpg" width="110" height="40">
    <img src="images/cheetah.gif" width="110" height="40">
    <img src="images/python_powered.png" width="110" height="40">
    <img src="images/freebsd-logo.jpg" width="110" height="40">
</center>