#import iconsbase64
#import time
#import datetime
$crawlerSettings
<h3>FTP Account</h3>

<form action="saveFTPAccount" method="post" enctype="application/x-www-form-urlencoded">

<input type="hidden" name="crawlerid" value="$crawlerid"
<h4>Account Details</h4>
<table border="0" style="width:100%" id="RepoMaliciousTable"><div>

	  <tr>
		
		<td id="RepoMaliciousTitle"><div>FTP Service Name</div></td>
		#if $newaccount == 1
		<td><input type="text" name="servicename" value=""></td>
		#else
		<td>$crawlerSettings['servicename']</td>
		<input type="hidden" name="servicename" value="$crawlerSettings['servicename']">
		#end if
		
		<td id="RepoMaliciousTitle"><div>IP/Domain</div></td>
		#if $newaccount == 1
		 <td><input type="text" name="hostname" value=""></td>
		#else
		<td>$crawlerSettings['hostname']</td>
		<input type="hidden" name="hostname" value="$crawlerSettings['hostname']">
		#end if
	  </tr>
	  
	  <tr>
		<td id="RepoMaliciousTitle"><div>User</div></td>
		#if $newaccount ==1
		<td><input type="text" name="user" value=""></td>
		#else
		<td><input type="text" name="user" value="$crawlerSettings['user']"></td>
		#end if
      
		<td id="RepoMaliciousTitle"><div>Port</div></td>
		
		#if $newaccount == 1
		<td><select name="port">
				<option value="defaultclear">TCP 21 - FTP Clear Text</option>
				<option value="defaulttls">TCP XX - FTP w/ TLS</option>
				<option value="customclear">Custom clear Text</option>
				<option value="customtls">Custom w/ TLS</option>
		</select></td>
		#else
		<td><select name="port">
				#if  $crawlerSettings['port'] == 'defaultclear'
				<option value="defaultclear" selected>TCP 21 - FTP Clear Text</option>
				#else
				<option value="defaultclear">TCP 21 - FTP Clear Text</option>
				#end if
				<option value="defaulttls">TCP XX - FTP w/ TLS</option>
				<option value="customclear">Custom clear Text</option>
				<option value="customtls">Custom w/ TLS</option>
		</select></td>
		
		#end if
	  </tr>
	  
	  
	  <tr>
		
		<td id="RepoMaliciousTitle"><div>Password</div></td>
		#if $newaccount == 1
		<td><input type="text" name="password" value=""></td>
		#else
		<td><input type="password" name="password" value="$crawlerSettings['passwd']"></td>
		#end if
        
		<td id="RepoMaliciousTitle"><div>Custom Port</div></td>
		#if $newaccount == 1
		<td><input type="text" name="customport" value=""></td>
		#else
		<td><input type="text" name="customport" value="$crawlerSettings['customport']"></td>
		#end if
		  
	  </tr>
	  
	  
	  #if $newaccount == 0:
	  <tr><td id="RepoMaliciousTitle"><div>Status</div></td> <td><select name="status">
																		<option value="run">Running</option>
																		<option value="stop">Stop</option>
																	</select></td></td>
																	
		<td id="RepoMaliciousTitle"><div>Folder Deep Level</div></td> <td><select name="folderdeep">
																		<option value="5">Up to 5 </option>
																		<option value="10">Up to 10 </option>
																	</select> levels depth.</td></td>
	  
	  </tr>
	  
	  <tr><td id="RepoMaliciousTitle"><div>Protection Mode</div></td>  <td><select name="protection_mode">
																		<option value="monitor">Monitor Mode</option>
																		<option value="remediate">Remediation Mode</option>
																	</select></td></td>
																	
		<td id="RepoMaliciousTitle"><div>Max file size</div></td>  <td><select name="maxfilesize">
																		<option value="5">5 Mb</option>
																		<option value="10">10 Mb</option>
																		<option value="20">20 Mb</option>
																		<option value="30">30 Mb</option>
																		<option value="50">50 Mb</option>
																		<option value="80">80 Mb</option>
																		<option value="100">100 Mb</option>
																		<option value="0">Maximum defined per service</option>
																	</select></td></td>
	  
	  </tr>
	  #end if

</table><br>

<input type='submit' value='Save'></form>






