#import iconsbase64
#import time
#from glossary import os_images as os_images

<h2>$sample['sandblast'][0]['av']['malware_info']['signature_name']</h2>
<h3>$iconsbase64.poison_icon Do not execute any file in any personal or corporate system. All files are real malware. $iconsbase64.poison_icon</h3>

<table border="0" style="width:100%" id="RepoMaliciousTable"><div>

      <tr><td id="RepoMaliciousTitle"><div>Date</div></td><td>$sample['uploadDate'].strftime("%d/%B/%y %X")</td></tr>
      <tr><td id="RepoMaliciousTitle"><div>Content-Type</div></td><td>$sample['content-type']</td></tr>
      <tr><td id="RepoMaliciousTitle"><div>MIME-Type</div></td><td>$sample['content-type-mime']</td> </tr>
      <tr><td id="RepoMaliciousTitle"><div>Content</div></td><td><a href="content?md5=$sample['md5']">Raw Content </a></td></tr>
      <tr><td id="RepoMaliciousTitle"><div>Filename</div></td><td id="RepoMaliciousText"><div>$sample['filename']</div></td>
          <td id="RepoMaliciousTitle"><div>Length</div></td>  <td id="RepoMaliciousText"><div>$sample['length'] bytes</div></td></tr>
      
      <tr><td id="RepoMaliciousTitle"><div>Downloads</div></td><td id="RepoMaliciousText">
            <div>
                <a href="download?sample=$sample['md5']&fileformat=http">$iconsbase64.download_icon HTTP</a>
            </div>
      </td>
      <td id="RepoMaliciousTitle"><div>Hits</div></td>  <td id="RepoMaliciousText"><div>  $sample['hits']</div></td></tr>
      
      <tr><td id="RepoMaliciousTitle"><div>Tags</div></td>
      
          <td id="RepoMaliciousText">
          #### Add Tag Formular:
          <form action="tagthis" method="post" enctype="application/x-www-form-urlencoded">
          <input type="hidden" name="sample_md5" value=$sample['md5']>
           <div>
#if 'tags' in $sample
#for tag in $sample['tags']
$tag$iconsbase64.delete_tag_icon
#end for
#end if
           </div></td>
      
          <td>
            <div><select name="selected_tag">
            <option value="None">Select a Tag</option>
#for tag in $tag_list
  <option value="$tag">$tag</option>
#end for
            </select></div>
          </td>
          
          <td>
            <div><input type='text' name='new_tags'><input type='submit' value='Tag!'></form></div>
          </td>
      
      
</tr>
</table>
<br>

<table border="0" style="width:100%" id="RepoMaliciousTable"><div>

#if 'md5' in $sample
      <tr><td id="RepoMaliciousTitle"><div>MD5</div></td><td id="RepoMaliciousText"><div>$sample['md5']</div></td></tr>
#end if

#if 'sha1' in $sample
      <tr><td id="RepoMaliciousTitle"><div>SHA1</div></td><td id="RepoMaliciousText"><div>$sample['sha1']</div></td></tr>
#end if
      
#if 'sha256' in $sample
      <tr><td id="RepoMaliciousTitle"><div>SHA256</div></td><td id="RepoMaliciousText"><div>$sample['sha256']</div></td></tr>
#end if

#if 'sha512' in $sample
      <tr><td id="RepoMaliciousTitle"><div>SHA512</div></td><td id="RepoMaliciousText"><div>$sample['sha512']</div></td></tr>
#end if

      
      
      
</div>
</table>






<h3>SandBox Analysis Reports</h3>

<div id="LastEvents">
<table border="0" style="width:100%">
 <tr>
    <th>Virtual Environment</th>
    <th>Veredict</th>
    <th>Report ID</th> 
  </tr>
#if $sample['sandblast'][0]['te']['status']['code'] == 1001
#for $images in $sample['sandblast'][0]['te']['images']
<tr>
      <td>$os_images[$images['id']]</td>
      <td>$images['report']['verdict']</td>
      <td><a href="downloadForensics?reportID=$images['report']['pdf_report']">$images['report']['pdf_report'] </a></td>
      
     </tr>
                     
#end for
#end if

</table>
</div>


#if 'sandblasttex' in $sample
<h3>Extraction</h3>

#set $scrub = $sample['sandblasttex']['extraction']['extraction_data']

<table border="0" style="width:100%" id="RepoMaliciousTable"><div>

      <tr><td id="RepoMaliciousTitle"><div>Scrubbed Content</div></td><td>$scrub['scrubbed_content']</td>
          <td id="RepoMaliciousTitle"><div>Orig File URL</div></td><td>$scrub['orig_file_url']</td></tr>
      <tr><td id="RepoMaliciousTitle"><div>Output filename</div></td><td>$scrub['output_file_name']</td>
          <td id="RepoMaliciousTitle"><div>Protection name</div></td><td>$scrub['protection_name']</td></tr>
      <tr><td id="RepoMaliciousTitle"><div>Scrub Time</div></td><td id="RepoMaliciousText"><div>$scrub['scrub_time'] seconds</div></td>
          <td id="RepoMaliciousTitle"><div>Scrub Activity</div></td>  <td id="RepoMaliciousText"><div>$scrub['scrub_activity']</div></td></tr>
       <tr><td id="RepoMaliciousTitle"><div>Scrub Result</div></td><td id="RepoMaliciousText"><div>$scrub['scrub_result']</div></td>
          <td id="RepoMaliciousTitle"><div>Scrub Method</div></td>  <td id="RepoMaliciousText"><div>$scrub['scrub_method']</div></td></tr>
        <tr><td id="RepoMaliciousTitle"><div>Input extension</div></td><td id="RepoMaliciousText"><div>$scrub['input_extension']</div></td>
          <td id="RepoMaliciousTitle"><div>Input real extebsion</div></td>  <td id="RepoMaliciousText"><div>$scrub['input_real_extension']</div></td></tr>
         <tr><td id="RepoMaliciousTitle"><div>Risk</div></td><td id="RepoMaliciousText"><div>$scrub['risk']</div></td>
          <td id="RepoMaliciousTitle"><div>Protection type</div></td>  <td id="RepoMaliciousText"><div>$scrub['protection_type']</div></td></tr>
      
      
      
      
</table>
#end if


#if 'forensics' in $sample
<h3>Endpoint Forensics Reports</h3>

<div id="LastEvents">
<table border="0" style="width:100%">
 <tr>
    <th>Report ID</th> 
  </tr>
 
#for $report in $sample['forensics']
<tr>
      <td><a href="forensics/$report/index.html">$report</a></td>
      </tr>
#end for          
</table>
</div>
#end if

<h3>Evidence</h3>

<div id="LastEvents">
<table border="0" style="width:100%">
 <tr>
    <th>Filename</th>
    <th>Content-type</th> 
  </tr>
#if $evidence 
#for $item in $evidence
     <tr>
      <td>$item['filename']</td>
      <td>$item['content-type']</td>
     </tr>
#end for
#end if
</table>
</div>

<p>Upload images, text, html, and forensics reports up to 10 Mb.</p>

<form action="uploadevidence" method="post" enctype="multipart/form-data">
<input type="hidden" name="origin" value="sample-upload">
<input type="hidden" name="md5" value="$sample['md5']">
<p> Add a File: <input type="file" name="customer_file"> <input type='submit' value='Upload'></p>

</form>

<h3>Resources</h3>

<p><a href="http://www.threatexpert.com/report.aspx?md5=$sample['md5']">Threat Expert</a></p
<p><a href="https://www.hybrid-analysis.com/search?query=$sample['md5']">Hybrid Analysis</a></p>
<p><a href="http://vxvault.net/ViriList.php?MD5=$sample['md5']">VxVault</a></p>

<h3>Media Links</h3>

#if 'media_urls' in $sample
#for $url in $sample['media_urls']
<p><a href="$url">$url</a></p>
#end for
#end ifs



