#import iconsbase64
#import time
#from glossary import EMULATION_ENV as EMUENV
#from glossary import os_images as os_images





#if $sample['verdict'] in ['malicious','matched']
<h3>       $iconsbase64.poison_icon DO NOT EXECUTE any file in any personal or corporate system. This file is REAL MALWARE. $iconsbase64.poison_icon</h3>
#try
#set $av = $sample['sandblast_reputation']['av']['malware_info']
<h2>$av['signature_name']: $sample['filename']</h2>

#except KeyError
<h2>[ - Unknown - ]: $sample['filename']</h2>
#end try

#else
<h2>$sample['filename']</h2>
#end if





<table border="0" style="width:100%" id="RepoMaliciousTable"><div>

      <tr><td id="RepoMaliciousTitle"><div>Date</div></td><td>$sample['uploadDate'].strftime("%d/%B/%y %X")</td></tr>
      <tr><td id="RepoMaliciousTitle"><div>Content-Type</div></td><td>$sample['content-type']</td></tr>
      <tr><td id="RepoMaliciousTitle"><div>MIME-Type</div></td><td>$sample['content-type-mime']</td>
          <td id="RepoMaliciousTitle"><div>Analysis</div></td>
           <td>
            <div><form><select name="selected_tag">
             <option value="last">Last Analysis</option>
             <option value="X">XXXXX</option>
             <option value="Y">YYYYY</option>
            </select><input type='submit' value='Select'></form></div>
          </td>
      </tr>
      
      
      
      
      
      <tr><td id="RepoMaliciousTitle"><div>Content</div></td><td>[<a href="content?md5=$sample['md5']">Raw </a>]
                                                                 [<a href="csvtohtml?md5=$sample['md5']">CSV2HTML </a>]
                                                                 ##[<a href="hexdump?md5=$sample['md5']">HexDump </a>]
                                                                 [<a href="archiveContent?sampleID=$sample['md5']">Archive </a>] </td>
      <td id="RepoMaliciousTitle"><div>Verdict</div></td><td>$sample['verdict']</td></tr>
      <tr><td id="RepoMaliciousTitle"><div>Filename</div></td><td id="RepoMaliciousText"><div>$sample['filename'] <a href="reName?sampleID=$sample['md5'] ">$iconsbase64.edit_small</a></div></td>
#set Bytes = int($sample['length'])
#set KBytes = Bytes/1024
#set MBytes = Bytes/1048576
          <td id="RepoMaliciousTitle"><div>Length</div></td>  <td id="RepoMaliciousText"><div>$Bytes B / $KBytes KB / $MBytes MB</div></td></tr>
      
      <tr><td id="RepoMaliciousTitle"><div>Download</div></td><td id="RepoMaliciousText">
            <div>
#if $sample['content-type-mime'] in $iconsbase64.appicon
#set fileicon = $iconsbase64.appicon[$sample['content-type-mime']]
#else
#set fileicon = $iconsbase64.file_icon
#end if             
<a href="download?sample=$sample['md5']&fileformat=http">$fileicon Original</a>            
           


            
#if'sandblast_extraction' in $sample
#try
#set texfile_id = $sample['sandblast_extraction']['extraction']['extracted_file_download_id']
<a href="downloadExtracted?extractedID=$texfile_id">$iconsbase64.pdf_icon Clean PDF</a>
#except KeyError

#end try
                
            
#end if
            </div>
      </td>
      <td id="RepoMaliciousTitle"><div>Hits</div></td>  <td id="RepoMaliciousText"><div>  $sample['hits']</div></td></tr>
      
      </tr>
      <tr><td id="RepoMaliciousTitle"><div>Actions</div></td><td>
      <a href="deleteSample?sampleID=$sample['md5'] ">$iconsbase64.delete_icon</a>
      <a href="reAnalyze?sampleID=$sample['md5'] ">$iconsbase64.reanalyze</a>
      <a href="emailSample?sampleID=$sample['md5'] ">$iconsbase64.send_email</a>
      <a href="archive?sampleID=$sample['md5'] ">$iconsbase64.archive</a>
      <a href="viewLog?sampleID=$sample['md5'] ">$iconsbase64.view_log</a>
      ##<a href="uploadToCloud?sampleID=$sample['md5'] ">$iconsbase64.upload_to_cloud</a>
      ##<a href="reAnalyzePolicy?sampleID=$sample['md5'] ">$iconsbase64.reanalyze</a>
      
     ###$iconsbase64.send_email $iconsbase64.dropbox
      
      </td>
      <td id="RepoMaliciousTitle"><div>Status</div></td><td>$sample['status']</td></tr>
      
      <tr><td id="RepoMaliciousTitle"><div>Tags</div></td>
      
          <td id="RepoMaliciousText">
          #### Add Tag Formular:
          <form action="tagthis" method="post" enctype="application/x-www-form-urlencoded">
          <input type="hidden" name="sample_md5" value=$sample['md5']>
           <div>
#if 'tags' in $sample
#for tag in $sample['tags']
$tag$iconsbase64.delete_tag_icon
#end for
#end if
           </div></td>
      
          <td>
            <div><select name="selected_tag">
            <option value="None">Select a Tag</option>
#for tag in $tag_list
  <option value="$tag">$tag</option>
#end for
            </select></div>
          </td>
          
          <td>
            <div><input type='text' name='new_tags'><input type='submit' value='Tag!'></form></div>
          </td>
      </tr>
</table>


<br>

<table border="0" style="width:100%" id="RepoMaliciousTable"><div>

#if 'md5' in $sample
      <tr><td id="RepoMaliciousTitle"><div>MD5</div></td><td id="RepoMaliciousText"><div>$sample['md5']</div></td></tr>
#end if

#if 'sha1' in $sample
      <tr><td id="RepoMaliciousTitle"><div>SHA1</div></td><td id="RepoMaliciousText"><div>$sample['sha1']</div></td></tr>
#end if

#if $sample['verdict'] in ['malicious','matched']

<tr><td id="RepoMaliciousTitle"><div>SHA256</div></td><td id="RepoMaliciousText"><div>$sample['sha256']</div></td></tr>
##<tr><td id="RepoMaliciousTitle"><div>SHA512</div></td><td id="RepoMaliciousText"><div>$sample['sha512']</div></td></tr>
#end if

</table>
<br>
<table border="0" style="width:100%" id="RepoMaliciousTable"><div>

<tr><td id="RepoMaliciousTitle"><div>Check Point</div></td>
<td id="RepoMaliciousText"><div><a href="checkpoint?sampleID=$sample['md5']">more..</a></div></td></tr>
#try
    #set verdict = $metadefenderMetadata['metadefender']['scan_results']['scan_all_result_a']
    #set metadefender_msg = '''<a href="metadefender?sampleID=''' + $sample['md5'] + '''">  more..</a>'''
#except KeyError
    #try
        #set verdict = $metadefenderMetadata['metadefender']['status']
        #set metadefender_msg = $metadefenderMetadata['metadefender']['in_queue']
    #except
        #set metadefender_msg = ''
        #set verdict = 'Not Found in DB'
    #end try
#except TypeError
    #set metadefender_msg = ''
    #set verdict = 'Unknown. Not Scanned'
#end try
<tr><td id="RepoMaliciousTitle"><div>Metadefender</div></td>
<td id="RepoMaliciousText"><div>File is: $verdict $metadefender_msg</div></td></tr>

<tr><td id="RepoMaliciousTitle"><div>Yara Rules</div></td>
<td id="RepoMaliciousText"><div><a href="binaryalert?sampleID=$sample['md5']">more..</a></div></td></tr>

##<tr><td id="RepoMaliciousTitle"><div>Fortinet</div></td>
##<td id="RepoMaliciousText"><div><a href="fortinet?sampleID=$sample['md5']">more..</a></div></td></tr>

</table>

#if 'emailInfo' in $sample
#set $email = $sample['emailInfo']
<h3>Email information</h3>

<table border="0" style="width:100%" id="RepoMaliciousTable"><div>

      <tr><td id="RepoMaliciousTitle"><div>From</div></td><td>$email['emailFrom']</td></tr>
      <tr><td id="RepoMaliciousTitle"><div>To</div></td><td>$email['emailTo']</td></tr>
      <tr><td id="RepoMaliciousTitle"><div>Reply-To</div></td><td>$email['emailReplyTo']</td></tr>
      <tr><td id="RepoMaliciousTitle"><div>Message-ID</div></td><td>$email['emailMessageID']</td></tr>
      <tr><td id="RepoMaliciousTitle"><div>Subject</div></td><td>$email['emailSubject']</td></tr>
      <tr><td id="RepoMaliciousTitle"><div>Date</div></td><td>$email['emailDate']</td></tr>

</table>

#end if





#if 'sandblast_extraction' in $sample
#try
<h4>Extraction</h4>

#set $scrub = $sample['sandblast_extraction']['extraction']['extraction_data']

<table border="0" style="width:100%" id="RepoMaliciousTable">

      <tr><td id="RepoMaliciousTitle"><div>Scrubbed Content</div></td> <td>$scrub['scrubbed_content']</td>
##          <td id="RepoMaliciousTitle"><div>Orig File URL</div></td> <td>###$scrub['orig_file_url']</td>
</tr>
      
      <tr><td id="RepoMaliciousTitle"><div>Output filename</div></td> <td>$scrub['output_file_name']</td>
          <td id="RepoMaliciousTitle"><div>Protection name</div></td> <td>$scrub['protection_name']</td></tr>

      <tr><td id="RepoMaliciousTitle"><div>Scrub Time</div></td> <td>$scrub['scrub_time'] seconds </td>
          <td id="RepoMaliciousTitle"><div>Scrub Activity</div></td>  <td>$scrub['scrub_activity']</td></tr>

       <tr><td id="RepoMaliciousTitle"><div>Scrub Result</div></td> <td>$scrub['scrub_result']</td>
          <td id="RepoMaliciousTitle"><div>Scrub Method</div></td>  <td>$scrub['scrub_method']</td></tr>

        <tr><td id="RepoMaliciousTitle"><div>Input extension</div></td> <td>$scrub['input_extension']</td>
          <td id="RepoMaliciousTitle"><div>Input real extebsion</div></td>  <td>$scrub['input_real_extension']</td></tr>

         <tr><td id="RepoMaliciousTitle"><div>Risk</div></td> <td>$scrub['risk']</td>
          <td id="RepoMaliciousTitle"><div>Protection type</div></td>  <td>$scrub['protection_type']</td></tr>
            
</table>
#except KeyError

#end try
#end if


#if $sample['verdict'] in ['malicious','matched']

#try

<h4>Malware information by Anti-Virus</h4>

#set $av = $sample['sandblast_reputation']['av']['malware_info']

<table border="0" style="width:100%" id="RepoMaliciousTable">

      <tr><td id="RepoMaliciousTitle"><div>Signature Name</div></td><td>$av['signature_name']</td></tr>
      <tr><td id="RepoMaliciousTitle"><div>Malware Type</div></td><td>$av['malware_type']</td>
          <td id="RepoMaliciousTitle"><div>Severity</div></td><td>$av['severity']</td></tr>
      <tr><td id="RepoMaliciousTitle"><div>Malware Family</div></td><td id="RepoMaliciousText"><div>$av['malware_family']</div></td>
      <td id="RepoMaliciousTitle"><div>Confidence</div></td><td>$av['confidence']</td></tr>
      
</table>


#except KeyError

#end try

#end if



#if $sample['verdict'] in ['malicious']

<h4>Malware forensics information by SandBox</h4>

#set $te = $sample['sandblast_emulation']['te']

<table border="0" style="width:100%" id="RepoMaliciousTable"><div>

      <tr><td id="RepoMaliciousTitle"><div>Confidence</div></td><td>$te['confidence']</td>
          <td id="RepoMaliciousTitle"><div>Severity</div></td><td>$te['severity']</td></tr>
      
</table>


<div id="LastEvents">
<table border="0" style="width:100%">
 <tr>
    <th>Virtual Environment</th>
    <th>Verdict</th>
    <th>Reports</th> 
  </tr>
#for $images in $te['images']

<tr>
      <td>$os_images[$images['id']]</td>
      <td>$images['report']['verdict']</td>
      <td>
#try
      <a href="downloadForensics?reportID=$images['report']['pdf_report']&contenttype=pdf">[PDF]</a>
      <a href="deleteEmulationReport?reportid=$images['report']['pdf_report']">$iconsbase64.delete_icon</a>
#except KeyError
[NO PDF]
#end try

#try
    <a href="downloadForensics?reportID=$images['report']['xml_report']&contenttype=xml">[XML] </a>
    <a href="deleteEmulationReport?reportid=$images['report']['pdf_report']">$iconsbase64.delete_icon</a>
#except KeyError
[NO XML]
#end try
      
      </td>
      
     </tr>
                     
#end for

</table>
</div>
#end if



#if $archives != 0
<h3>Archives</h3>

<div id="LastEvents">
<table border="0" style="width:100%">
 <tr>
    <th>Filename</th>
    <th>MIME</th>
    <th>Size</th>
    <th>Actions</th>
  </tr>

#for $item in $archives
#set Bytes = int($item['length'])
#set KBytes = Bytes/1024



     <tr>
      <td>$item['filename']</td>
      <td>$item['content-type-mime']</td>
      <td>$KBytes KB</td>
      <td>
        
        <a href="deleteArchive?archiveID=$item['md5']&sampleID=$sample['md5'] ">$iconsbase64.delete_icon</a>
      <a href="emailSample?sampleID=$item['md5'] ">$iconsbase64.send_email</a>
            <a href="download?sample=$item['md5']&fileformat=http ">$iconsbase64.download_icon</a>

      </td>
     </tr>

#end for
</table>
#end if

###</table>




<h3>Versions</h3>

<div id="LastEvents">
<table border="0" style="width:100%">
 <tr>
    <th>Filename</th>
    <th>Content-type</th> 
  </tr>
#if $evidence 
#for $item in $evidence
     <tr>
      <td>$item['filename']</td>
      <td>$item['content-type']</td>
     </tr>
#end for
#end if
</table>
</div>

<p>Upload images, text, html, and forensics reports up to 10 Mb.</p>

<form action="uploadevidence" method="post" enctype="multipart/form-data">
<input type="hidden" name="origin" value="sample-upload">
<input type="hidden" name="md5" value="$sample['md5']">
<p> Add a File: <input type="file" name="customer_file"> <input type='submit' value='Upload'></p>

</form>




