## - FORMULAR TO DOWNLOAD A SAMPLE FROM URL

<form action="fetchfile" method="post">

<input type='text' maxlength=1000 name='url' value='http://' style="width:300px;">
<input type='submit' value='Fetch'>

</form>
