#import iconsbase64
#import time
#import datetime
##from glossary import os_images as os_images

##from glossary import CLOUD_FEEDS as cloudFeeds



<h3>SandBlast Private Cloud Node</h3>

<form action="saveNode" method="post" enctype="application/x-www-form-urlencoded">

<table border="0" style="width:100%" id="RepoMaliciousTable"><div>

      ##<tr><td id="RepoMaliciousTitle"><div>Hostname</div></td> <td><input type="text" name="hostname" value="xx"></td></tr>
	  
      <tr><td id="RepoMaliciousTitle"><div>Node IPv4</div></td> <td><input type="text" name="ipv4_addr" value="xx"></td></tr>
	  
	  <tr><td id="RepoMaliciousTitle"><div>Admin User</div></td><td><input type="text" name="user" value="xx"></td>
          <td id="RepoMaliciousTitle"><div>Password</div></td>  <td><input type="text" name="passwd" value="xx"></td></tr>
	  
      ##<tr><td id="RepoMaliciousTitle"><div>Cookie</div></td> <td><input type="text" name="cookie" value="xx"></td></tr>
      ##<tr><td id="RepoMaliciousTitle"><div>Status</div></td>
	##<td><select name="status">
      ##      <option value="enable">Enable</option>
		##	<option value="disable">Disable</option>
          ##  </select>
	  
	  ##</td></tr>

</table><br>


<input type='submit' value='Save Node'></form>






