#import iconsbase64
#import time
#import datetime

<h2>Amazon Web Services</h2>

<h3><a href="editFeed?feed=SandBlast">S3 - Simple Storage Service</a></h3>
<table border="0" style="width:100%" id="RepoMaliciousTable"><div>

      <tr><td id="RepoMaliciousTitle"><div>Primary</div></td> <td>xxxx</td></tr>
      <tr><td id="RepoMaliciousTitle"><div>BackUp</div></td> <td>xxx</td></tr>

						<tr><td id="RepoMaliciousTitle"><div>Status</div></td> <td>xxx</td></tr>

</table>


<h2>Email Accounts</h2>




<h3><a href="editEmailAccount">Add new account</a></h3>


#for email in $emails_settings


<table border="0" style="width:100%" id="RepoMaliciousTable"><div>

      <tr><td id="RepoMaliciousTitle"><div>Email</div></td> <td><a href="viewMessages?mail=$email.email">$email.email</a></td>
			<td id="RepoMaliciousTitle"><div>Actions</div></td>  <td><a href="editEmailAccount">$iconsbase64.edit_small</a></td></tr>
	  <tr><td id="RepoMaliciousTitle"><div>Threats</div></td> <td>XX Phishig Emails, XX Malicious attachments, XX SPAM, XX Scrubed Documents</td></tr>
      <tr><td id="RepoMaliciousTitle"><div>Stats</div></td> <td>XX Emails analyzed : XX benign XX malicious, XX not supported </td></tr>
      <tr><td id="RepoMaliciousTitle"><div>Status</div></td> <td>$email.status</td>
	  <td id="RepoMaliciousTitle"><div>Service</div></td>  <td>$email.service</td></tr>

</table>
<br>
#end for




