#from datetime import datetime
#import iconsbase64
#import base64

<h2>Available agents @ $agents['Count'] hosts:</h2>

<p>Download Installation Script for: <a href="pooma_init_agent?platform=bsd">*BSD</a>, <a href="pooma_init_agent?platform=awsami">AWS AMI</a></p>

##$agents


<div id="LastEvents">
<table border="0" style="width:100%">
 <tr>
    <th>Host</th>
    <th>Public IP</th>
    <th>Country</th>
    <th>Policy</th> 
    <th>Last HB</th>
  </tr>
#for $agent in $agents['Items']
## - > DEPRECATED set lh=int($agent['last_heartbeat']['timestamp'])

#try
#set last_heartbeat=datetime.utcfromtimestamp(int($agent['last_heartbeat']['timestamp'])).strftime('%d-%m-%Y - %H:%M:%S')
#set myip = $agent['last_heartbeat']['myip']['ip']
#set mycountry = $agent['last_heartbeat']['myip']['country']
##set mypolicy = -Policy - V.$agent['policy']['version']

#except
#set last_heartbeat='Offline'
#set myip = 'No Contact'
#set mycountry = ''
##set mypolicy = 'Unknown'

#end try

  <tr>
      <td>$agent['hostname'] <a href="editAgentPolicy?agentID=$agent['xid']">$iconsbase64.edit_small</a> </td> 
     <td>$myip</td>
     <td>$mycountry</td>
      <td>PolicyName V.$agent['policy']['version']</td>

      <td>$last_heartbeat UTC  <a href="viewAgentHeartbeat?agentID=xxxx">(view)</a></td>

     </tr>
  
  	#end for
   
</table>
</div>









