#import iconsbase64
#import time
#from base64 import b64decode as decode
#from glossary import os_images as os_images



#if $view == 'malicious'


<h2>Malicious files confirmed by AntiVirus and Sandbox</h2>
<h3>$iconsbase64.poison_icon Do not execute any file in any personal or corporate system. All files are real malware. $iconsbase64.poison_icon</h3>
<table border="0" style="width:100%">
 
#for $sample in $samples
     <tr>            ## This is the whole file
      <tr><td>AntiVirus:</td><td>$sample['sandblast'][0]['av']['malware_info']['signature_name']</td></tr>
     <tr><td>SandBox:</td>
#if $sample['sandblast'][0]['te']['status']['code'] == 1001
#for $images in $sample['sandblast'][0]['te']['images'] 
                          <td><a href="downloadForensics?reportID=$images['report']['pdf_report']"> $os_images[$images['id']]</a></td>
#end for
#else
                          <td>Information not available</td>
#end if
      </tr>


      <tr><td >Date: $sample['uploadDate']</td></tr>
    
      <tr><td>Filename: $sample['filename']</td><td>Length: $sample['length']</td></tr>

      <tr><td>MD5: $sample['md5']</td></tr>

##<p><a href="deleteSample?sampleID=$sample['_id']"> Delete Sample</a></p>

##<p><a href="index?section=repo&md5=$sample['md5']&fileId=$sample['_id']&action=analyse">$iconsbase64.resubmit_icon Resubmit Sample</a></p>

##<p><a href="download?sample=$sample['md5']&fileformat=http">$iconsbase64.download_icon HTTP Download</a></p>

#end for
</table>





#elif $view == 'benign'

<h2>Emulated files with veredict benign by at least [1] Sandbox</h2>
<table border="0" style="width:100%">
$samples     
#for $sample in $samples
     <tr>
      <td>
       [ $sample['origin'] ] @ $sample['filename']<br>
      <p>$sample['uploadDate']</p>
      <hr>
      </td> 
     </tr>
#end for
     </table>

#elif $view == 'pending'

<h2>Files not found malicious by an AntiMalware, waiting veredict for a Sandbox</h2>
<table border="0" style="width:100%">
$samples     
#for $sample in $samples
#set event_date = time.ctime(int($sample['timestamp']))
     <tr>
    
      <td>
      $iconsbase64.sandclock_icon Waiting for analysis results.<br>
      <a href="index?section=repo&md5=$sample['md5']&action=analyse">$iconsbase64.resubmit_icon Resubmit Sample</a>
      
      <p>$event_date</p>
      [ $sample['origin'] ]  MD5: $sample['md5']<br>
      #set filetype = decode($sample['filetype'])
      $filetype<br>
      </td>        
     </tr>
     <br>
#end for
     </table>

#else
<p><img src="images/coding.jpg" alt='Almost Ready' width='300'/></p>

#end if