#import iconsbase64




<div id="LastEvents">
<table border="0" style="width:100%">
 <tr>
    <th>Upload a file</th>
    <th>Fetch a file from URL</th>
  </tr>
 
<tr>
      <td>$upload_file</td>
      <td>$fetch_file</td>      
     </tr>

 ##<tr>
   ## <th>MD5 & SHA1 Hash LookUp</th>
    ##<th>IP/URL Reputation & Analysis</th>
 ## </tr>
 
##<tr>
  ##    <td>$widget_hash</td>
      ##<td>$widget_ipurl</td>      
    ## </tr>

</table>
</div>
<br>



<div id="LastEvents">
<table border="0" style="width:100%">
 <tr>
    <th>Recent Analysis</th>
    <th>Source</th> 
    <th>Date</th>
  </tr>
#for $sample in $samples
     <tr>
      <td>
#if $sample['verdict'] in ["malicious","matched"]
#set fileicon = $iconsbase64.filevirus_icon 
<a href="file?sampleid=$sample['md5']">$fileicon</a>  
#try
[ - $sample['sandblast_reputation']['av']['malware_info']['signature_name'] - ]
#except KeyError
 Unknown - ]
#end try
#elif $sample['status'] in ["new","emulating"]
#set fileicon = $iconsbase64.filelock_icon
<a href="file?sampleid=$sample['md5']">$fileicon</a> 


#elif $sample['content-type-mime'] in $iconsbase64.appicon
#set fileicon = $iconsbase64.appicon[$sample['content-type-mime']]
<a href="file?sampleid=$sample['md5']">$fileicon</a> 

#else
#set fileicon = $iconsbase64.file_icon
<a href="file?sampleid=$sample['md5']">$fileicon</a> 

#end if
       $sample['filename'] </td> 

      <td>$sample['origin']</td>
#set date=$sample['uploadDate'].strftime("%d/%b/%y %X")
      <td>$date</td>
     </tr>
#end for

</table>
</div>


##<div id="LastEvents">
##<table border="0" style="width:100%">
## <tr>
##    <th>Last Emails</th>
##    <th>Destination</th> 
##    <th>Date</th>
##  </tr>
##
##</table>
##</div>

<div id="LastEvents">
<table border="0" style="width:100%">
 <tr>
    <th>Last Hash Lookups</th>
    <th>Source</th> 
    <th>Date</th>
  </tr>

#for hash in $last_hash_lookups

 <tr>
    <td>$iconsbase64.hash_icon $hash['sampleHash']</td>
    <td>$hash['source']</td> 
    <td>Date</td>
  </tr>


#end for

</table>
</div>

<div id="LastEvents">
<table border="0" style="width:100%">
 <tr>
    <th>Last IP/URL Reputation</th>
    <th>Source</th> 
    <th>Date</th>
  </tr>

#for ipurl in $last_ipurls_lookups

 <tr>
    <td>
#if $ipurl['verdict'] == 'phishing'
#set urlicon = $iconsbase64.filevirus_icon  
#elif $ipurl['verdict'] == 'benign'
#set urlicon = $iconsbase64.link_icon
#end if

<a href="ipurlanalysis?urlhash=$ipurl['url_id']">$iconsbase64.urlicon</a>$ipurl['ipurl']</td>
    <td>$ipurl['source']</td> 
    <td>Date</td>
  </tr>


#end for

</table>
</div>
