#import iconsbase64
#import time
#from glossary import EMULATION_ENV as emuenv


<h3>SandBlast Public Cloud settings</h3>


<form action="saveConfig" method="post" enctype="application/x-www-form-urlencoded">
  <input type="hidden" name="section" value="sandblast">
  <input type="hidden" name="setting" value="public_cloud_access">


<table border="0" style="width:100%" id="RepoMaliciousTable"><div>

    <tr><td id="RepoMaliciousTitle"><div>Service URL</div></td>
          <td>https://te.checkpoint.com/tecloud/api/v1/file/</td></tr>

    <tr><td id="RepoMaliciousTitle"><div>API TOKEN</div></td>
#if $feedData == None
<td id="RepoMaliciousText"><div><input type='text' name='sbapi_token' size='60'></div></td></tr>
#else

    <td id="RepoMaliciousText"><div><input type='text' name='sbapi_token' size='60' value=$feedData['sbapi_token']></div></td></tr>
#end if           
</table>





<p><input type='submit' value='Update'></p>
</form>