
<form action="upload" method="post" enctype="multipart/form-data">
<input type="hidden" name="origin" value="Hash-Crawler">
<input type="file" name="customer_file">

<input type='submit' value='Crawl!' >
</form>

