#import iconsbase64
#import base64


 	<form action="addFilter" method="post" enctype="application/x-www-form-urlencoded">
					
			
<table border="0" style="width:100%" id="RepoMaliciousTable">
	
	## -- This section will always appear
	
	<tr>
    <td id="RepoMaliciousTitle"><div>Active filter</div></td>
				<td><div>
	
	#if $edit == 'true'
	

	
				<input type='text' name='filtername' value="$activeFilter['filtername']"> <a href="editFilter?enable=false">$iconsbase64.edit_ok</a><a href="dumpFilter">$iconsbase64.delete_icon</a><a href="saveFilter">$iconsbase64.save_filter</a>
		 

			#else	
	
				$activeFilter['filtername'] <a href="editFilter?enable=true">$iconsbase64.edit_small</a>
				</div></td>
	#end if
				
				
				
				
				<td id="RepoMaliciousTitle"><div>Saved filters</div></td>
								<td >
					<div>
						
						
			
						<select name="savedfilter">
							<option value="None">Choose from list</option>
			#for filter in $filterList
				<option value="$filter">$filter</option>
			#end for
			
				
   </select>
		
   
   <input type='submit' value='Update Filter'>
		
	
						

					</div>
				</td>
	</tr>
	
## -- This section will appear only when edit is enable

#if $edit == 'true'



	
	<tr>
    <td id="RepoMaliciousTitle"><div>Search Type</div></td>
				<td>
					<div>
							Do 
	<select name="logic">
    <option value="and">AND</option>
				<option value="or">OR</option>
            </select>					
					logic between defined sections.
					</div>
				</td>
	</tr>


 <tr>
    <td id="RepoMaliciousTitle"><div>Tags</div></td>
				<td>
					<div>
						<select name="tag">
    <option value="None">Choose from list</option>
				<option value="clear">Clear Filter</option>
#for tag in $tagList
  <option value="$tag">$tag</option>
#end for
   </select>
						
#if 'tags' in $activeFilter
#for tag in $activeFilter['tags']
$tag,
#end for
#end if

					</div>
				</td>
	</tr>
	
	
	
	<tr>
    <td id="RepoMaliciousTitle"><div>Content-Type</div></td>
				<td>
					<div>
	<select name="content">
    <option value="None">Choose from list</option>
				<option value="clear">Clear Filter</option>
#for content in $contentList
  <option value="$content">$content</option>
#end for
            </select>					
					
#if 'content' in $activeFilter
#for tag in $activeFilter['content']
$tag,
#end for

#end if
					</div>
				</td>
	</tr>
	
	
	
		<tr>
    <td id="RepoMaliciousTitle"><div>Source</td>
				<td>
					<div>
	<select name="source">
    <option value="None">Choose from list</option>
				<option value="clear">Clear Filter</option>
#for source in $sourceList
  <option value="$source">$source</option>
#end for
  </select>			
						
#if 'source' in $activeFilter
#for tag in $activeFilter['source']
$tag,
#end for
#end if
					</div>
				</td>
	</tr>
		
		
			<tr>
    <td id="RepoMaliciousTitle"><div>Status</td>
				<td>
					<div>
	<select name="status">
    <option value="None">Choose from list</option>
				<option value="clear">Clear Filter</option>
  <option value="processed">processed</option>
		<option value="new">new</option>
			<option value="scrubbed">scrubbed</option>
				<option value="known">known</option>

  </select>			
						
#if 'status' in $activeFilter
#for tag in $activeFilter['status']
$tag,
#end for
#end if
					</div>
				</td>
	</tr>
	
	
	
	
			<tr>
    <td id="RepoMaliciousTitle"><div>Verdict</td>
				<td>
					<div>
	<select name="verdict">
    <option value="None">Choose from list</option>
				<option value="clear">Clear Filter</option>
				<option value="matched">Matched in AV DB</option>
				<option value="malicious">Malicious</option>
				<option value="benign">Benign</option>
				<option value="unknown">Unknown</option>

  </select>			
						
#if 'verdict' in $activeFilter
#for tag in $activeFilter['verdict']
$tag,
#end for
#end if
					</div>
				</td>
	</tr>
			
		#end if			
			
</table>
  </form>

	
