
<form action="youtubedwld" method="post" enctype="multipart/form-data">

<input type='text' maxlength=1000 name='youtube_url' style="width:600px;">

<select name='media_format'>
  <option value="webm">Video .webm</option>
  <option value="mp3">Audio .mp3</option>
</select>
        
<input type='submit' value='Download' >
4 URLs in Queue



</form>

