#import iconsbase64
#import time
#import base64

#for template in $templates_list
##$template

<table border="0" style="width:100%" id="RepoMaliciousTable"><div>

      <tr><td id="RepoMaliciousTitle"><div>Name</div></td><td>$template.template_name <a href="editPhishingTemplate?templateid=$template.template_id">$iconsbase64.edit_small</a>
																					  <a href="deleteTemplate?templateid=$template.template_id">$iconsbase64.delete_medium_icon</a></td></tr>
			#set subject = $base64.standard_b64decode($template.template_subject)
			 <tr><td id="RepoMaliciousTitle"><div>Subject</div></td><td>$subject</td></tr>
			 <tr><td id="RepoMaliciousTitle"><div>Content Type</div></td><td>$template.content_type  <a href="phishingpreview?templateid=$template.template_id" target="_blank"> (Preview)</a></td></tr>
      <tr><td id="RepoMaliciousTitle"><div>Email Service</div></td><td>$template.email_service</td></tr>
			#if $template.has_links == 'yes'
			<tr><td id="RepoMaliciousTitle"><div>Shorten Links</div></td><td>$template.shorten_links</td></tr>
			#end if


    
  


</table>

 <br> 
#end for


