
<form action="ipurllookup" method="post" enctype="multipart/form-data">
<input type="hidden" name="origin" value="webui-lookup">

<input type='text' maxlength=1000 name='ipurl' style="width:300px;">
<input type='submit' value='Search' >

</form>

